@charset "UTF-8";
:root {
  /* color */
  --primary: #A61C59;
  --primary-90: #A61C5990;
  --white: #EBEBF5;
  --white-30: #EBEBF530;
  --white-50: #EBEBF550;
  --white-60: #EBEBF560;
  --white-main: #ffffff;
  --white-main-05: #ffffff05;
  --white-main-30: #ffffff30;
  --white-main-60: #ffffff60;
  --white-sec: #ECEDEF;
  --white-thrd: #F5F5F5;
  --black: #1C1C1E;
  --black-main: #000000;
  --black-main-60: #00000060;
  --blue: #005BFF;
  --blue-90: #005BFF90;
  --sea: #23aab1;
  --coral: #FF4433;
  --bg: #2C2C2E;
  --grey: #666666;
  --green: #29B24A;
  --yellow: #FFC107;
  --border-c: #272729;
  --border-c-20: #9f9fa520;
  /* border-radius */
  --border-r-4: 0.4rem;
  --border-r-5: 0.5rem;
  --border-r-6: 0.6rem;
  --border-r-7: 0.7rem;
  --border-r-8: 0.8rem;
  --border-r-13: 1.3rem;
  --border-r-18: 1.8rem;
}

@font-face {
  font-family: "Manrope";
  src: url(./../fonts/Manrope-ExtraBold.woff2), url(./../fonts/Manrope-ExtraBold.woff);
  font-weight: 800;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Manrope";
  src: url(./../fonts/Manrope-Bold.woff2), url(./../fonts/Manrope-Bold.woff);
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Manrope";
  src: url(./../fonts/Manrope-SemiBold.woff2), url(./../fonts/Manrope-SemiBold.woff);
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Manrope";
  src: url(./../fonts/Manrope-Medium.woff2), url(./../fonts/Manrope-Medium.woff);
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Manrope";
  src: url(./../fonts/Manrope-Regular.woff2), url(./../fonts/Manrope-Regular.woff);
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Manrope";
  src: url(./../fonts/Manrope-Light.woff2), url(./../fonts/Manrope-Light.woff);
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Manrope";
  src: url(./../fonts/Manrope-ExtraLight.woff2), url(./../fonts/Manrope-ExtraLight.woff);
  font-weight: 200;
  font-display: swap;
  font-style: normal;
}
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  color: inherit;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-style: inherit;
  font-weight: 400;
}

/* libs styles */
.swiper-pagination {
  padding: 0;
  background-color: transparent;
  border-radius: 98rem;
  font-size: 0;
  line-height: unset;
}

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  width: fit-content;
  left: 50%;
  transform: translateX(-50%);
  position: relative;
  bottom: 0;
  margin: 1.7rem 0 0;
}

.swiper-pagination-bullet {
  opacity: 1;
  width: 0.6rem;
  height: 0.6rem;
  border-radius: 0.3rem;
  overflow: hidden;
  background-color: var(--white-60);
  transition: width 0.5s ease;
}

.swiper-pagination-bullet-active {
  background: var(--white-60);
  width: 3.6rem;
  position: relative;
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 0.5rem;
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet:first-child,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet:first-child {
  margin: 0 0.5rem 0 0;
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet:last-child,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet:last-child {
  margin: 0 0 0 0.5rem;
}

.hero .swiper-pagination {
  padding: 0;
  background-color: transparent;
  border-radius: 98rem;
  font-size: 0;
  line-height: unset;
}

.hero .swiper-horizontal > .swiper-pagination-bullets,
.hero .swiper-pagination-bullets.swiper-pagination-horizontal,
.hero .swiper-pagination-custom,
.hero .swiper-pagination-fraction {
  width: fit-content;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  bottom: 1.5rem;
}

.hero .swiper-pagination-bullet-active::after {
  content: "";
  display: block;
  width: 0;
  height: 100%;
  border-radius: 0.3rem;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background-color: var(--primary);
  animation-name: timeline;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

.brand__slider .swiper-slide {
  max-width: fit-content;
}

@keyframes timeline {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}
/* 62.5% это 10px из 16px, который стоит по умолчанию у браузеров */
html {
  overflow-x: hidden;
  font-size: 62.5%;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-tap-highlight-color: transparent;
}

body {
  overflow-x: hidden;
  min-width: 320px;
  font-family: "Manrope", sans-serif;
  font-style: normal;
  color: var(--white);
  background: var(--black);
}

section {
  margin-bottom: 2rem;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  position: relative;
}

.main {
  flex: 1 0 auto;
}

.footer {
  flex: 0 0 auto;
}

.container {
  max-width: 100%;
  padding: 0 2rem;
  margin: 0 auto;
}

.container-fluid {
  max-width: 100%;
}

h1 {
  font-weight: 700;
  font-size: 8rem;
  line-height: 100%;
  letter-spacing: 0.03em;
}

.btn {
  --button-padding-x: 1.5rem;
  --button-padding-y: 0.5rem;
  --button-font-size: 1.4rem;
  --button-color: var(--white);
  --button-bgcolor: var(--primary);
  --button-border-width: 0.1rem;
  --button-border-color: var(--primary);
  --button-border-radius: 0.4rem;
  --button-hover-bgcolor: var(--primary-90);
  --button-hover-border-color: transparent;
  --button-disabled-opacity: 0.5;
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  height: 4rem;
  font-weight: 800;
  line-height: 143%;
  text-align: center;
  white-space: nowrap;
  transition: all 0.2s ease;
  padding: var(--button-padding-y) var(--button-padding-x);
  border: var(--button-border-width) solid var(--button-border-color);
  border-radius: var(--button-border-radius);
  background-color: var(--button-bgcolor);
  color: var(--button-color);
  font-size: var(--button-font-size);
}

.btn:hover {
  background-color: var(--button-hover-bgcolor);
  border-color: var(--button-hover-border-color);
}

.btn:disabled {
  opacity: var(--button-disabled-opacity);
}

.btn--red {
  --button-padding-x: 1rem;
  --button-padding-y: 0.5rem;
  --button-font-size: 1.4rem;
  --button-color: var(--white);
  --button-bgcolor: var(--primary);
  --button-border-width: 0.1rem;
  --button-border-color: var(--primary);
  --button-border-radius: 0.5rem;
  --button-hover-bgcolor: var(--primary-90);
  --button-hover-border-color: transparent;
  padding: var(--button-padding-y) var(--button-padding-x);
  border: var(--button-border-width) solid var(--button-border-color);
  border-radius: var(--button-border-radius);
  background-color: var(--button-bgcolor);
  color: var(--button-color);
  font-size: var(--button-font-size);
  text-align: center;
  white-space: nowrap;
  min-height: 3rem;
}

.btn--red:hover {
  background-color: var(--button-hover-bgcolor);
  border-color: var(--button-hover-border-color);
}

.btn--blue {
  --button-padding-x: 1rem;
  --button-padding-y: 0.5rem;
  --button-font-size: 1.2rem;
  --button-bgcolor: var(--blue);
  --button-border-color: var(--blue);
  --button-border-radius: 0.5rem;
  --button-hover-bgcolor: var(--blue-90);
  height: 3rem;
}

.btn--outline {
  --button-padding-x: 1rem;
  --button-padding-y: 0.5rem;
  --button-font-size: 1rem;
  --button-color: var(--white);
  --button-bgcolor: transparent;
  --button-border-color: var(--border-c);
  --button-border-radius: 0.5rem;
  --button-hover-bgcolor: var(--border-c);
}

.btn--icon {
  --button-padding-x: unset;
  --button-padding-y: unset;
  --button-font-size: 2.4rem;
  --button-color: var(--white-60);
  --button-bgcolor: transparent;
  --button-border-width: 0.1rem;
  --button-border-color: transparent;
  --button-border-radius: 0.4rem;
  --button-hover-bgcolor: transparent;
  --button-hover-border-color: transparent;
  width: 2.4rem;
  height: 2.4rem;
  min-height: 2.4rem;
  line-height: 1;
  font-weight: 400;
  flex-shrink: 0;
}
.btn--icon img {
  width: 1.8rem;
  height: 1.8rem;
  object-fit: cover;
}

.btn--yt {
  color: var(--coral);
  font-size: 1.8rem;
  text-align: center;
  position: relative;
}

.btn--resize {
  color: var(--white-main);
  font-size: 1.8rem;
  line-height: 100%;
  text-align: center;
}

/* inputs */
input[type=text] {
  width: 100%;
  height: 4rem;
  padding: 0.8rem 3.4rem;
  border-radius: var(--border-r-7);
  background: var(--white-main-05);
  border: inset 0.1rem solid var(--bg);
  box-shadow: inset 0px 0px 11.1px rgba(0, 0, 0, 0.42);
  backdrop-filter: blur(0.42rem);
  font-size: 1rem;
  line-height: 1.4;
  font-weight: 400;
  display: flex;
  align-items: center;
  color: rgba(255, 255, 255, 0.6);
  color: var(--white-main-60);
}

/* search */
.search__form {
  display: none;
  width: 100%;
  position: relative;
}
.search__form-input {
  padding: 0.8rem 3.6rem;
  position: relative;
}
.search__form-icon {
  position: absolute;
  top: 50%;
  left: 1rem;
  transform: translateY(-50%);
  display: block;
  font-size: 1.7rem;
  color: var(--white-60);
}
.search__form-btn {
  display: block;
  width: 2.4rem;
  height: 2.4rem;
  position: absolute;
  top: 50%;
  right: 0.8rem;
  transform: translateY(-50%);
  background: transparent;
  font-size: 1.6rem;
  color: var(--white-60);
}
.search__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.4rem;
  height: 2.4rem;
  background-color: transparent;
  flex-shrink: 0;
}
.search__icon {
  width: 1.8rem;
  height: 1.8rem;
  object-fit: cover;
}

/* switch theme */
.switch__btn {
  display: none;
  justify-content: space-between;
  align-items: center;
  gap: 0.1rem;
  width: fit-content;
  height: 3rem;
  padding: 0.1rem;
  background-color: var(--bg);
  border-radius: var(--border-r-7);
  position: relative;
  z-index: 1;
}
.switch__btn-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.8rem;
  height: 2.8rem;
  border-radius: var(--border-r-6);
  background-color: var(--black);
  z-index: 4;
  font-size: 1.9rem;
  line-height: 1;
  text-align: center;
  align-content: center;
  color: var(--white-60);
  transition: all 0.2s linear;
}
.switch .switch__btn-circle {
  left: 4.5rem;
}
.switch .light-mode {
  background-color: var(--black);
  color: var(--white-60);
}
.switch .light-mode .icon-sun::before {
  text-shadow: unset;
}
.switch .dark-mode {
  background-color: var(--primary);
  color: var(--white);
}
.switch .dark-mode .icon-moon::before {
  text-shadow: 0px 0px 5.4px rgba(255, 255, 255, 0.75);
}

.light-mode {
  background-color: var(--primary);
  color: var(--white);
}
.light-mode .icon-sun::before {
  text-shadow: 0px 0px 5.4px rgba(255, 255, 255, 0.75);
}

.dark-mode {
  background-color: var(--black);
  color: var(--white-60);
}
.dark-mode .icon-moon::before {
  text-shadow: none;
}

/* panel */
.panel {
  display: flex;
  flex-direction: row;
  padding: 0 0.5rem;
  /* -*/
  justify-content: center;
  align-items: center;
  gap: 2rem;
  gap: clamp(1rem, 5vw, 2rem);
  width: calc(100% - 2rem);
  height: 6rem;
  background: rgba(0, 0, 0, 0.75);
  border: 1px solid rgba(159, 159, 165, 0.2);
  backdrop-filter: blur(8.5px);
  border-radius: var(--border-r-13);
  position: fixed;
  right: 1rem;
  left: 1rem;
  bottom: 1rem;
  z-index: 100;
}
.panel__wrap {
  width: clamp(3rem, 14vw, 5rem);
  height: 5rem;
}
.panel__item:nth-child(1) {
  order: 1;
}
.panel__item:nth-child(2) {
  order: 4;
}
.panel__item:nth-child(3) {
  order: 5;
}
.panel__item:nth-child(4) {
  order: 3;
}
.panel__item:nth-child(5) {
  order: 2;
}
.panel__link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.6rem;
  width: 100%;
  height: 100%;
  color: var(--white-60);
  /* - */
  font-size: 2.5rem;
}
.panel__link-img {
  width: auto;
  height: 1.9rem;
  object-fit: contain;
}
.panel__link-text {
  font-family: "Manrope", sans-serif !important;
  font-weight: 800;
  font-size: 8px;
  line-height: 11px;
  color: var(--white-60);
}

.title {
  font-size: 2rem;
  line-height: 1;
}

.text {
  font-size: 2.4rem;
  line-height: 1.2;
}

.block-title {
  font-weight: 800;
  font-size: 2rem;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 2rem;
}

.block-text {
  font-size: 1.2rem;
  line-height: 1.16;
  font-weight: 400;
}

.burger {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.7rem;
  width: 4.8rem;
  height: 4.8rem;
  padding: 1.5rem;
  position: relative;
  background-color: transparent;
}
.burger::before {
  content: "";
  display: block;
  width: 1.4rem;
  height: 0.12rem;
  border-radius: 0.06rem;
  background-color: var(--white);
  transition: all 0.2s ease;
  position: absolute;
  top: calc(50% - 0.35rem);
  right: 50%;
  transform: translate(50%, -50%);
}
.burger::after {
  content: "";
  display: block;
  width: 1.4rem;
  height: 0.12rem;
  border-radius: 0.06rem;
  background-color: var(--white);
  transition: all 0.2s ease;
  position: absolute;
  top: calc(50% + 0.35rem);
  right: 50%;
  transform: translate(50%, -50%);
}
.burger.active::before {
  top: 50%;
  transform: translate(50%, -50%) rotate(45deg);
}
.burger.active::after {
  top: 50%;
  transform: translate(50%, -50%) rotate(-45deg);
}

.loupe {
  display: flex;
}

/* accordion */
.accordion__item {
  overflow: hidden;
}

.accordion__item--active .accordion__item-btn--icon {
  transform: rotate(-90deg);
}

.accordion__item-btn--icon {
  transform: rotate(90deg);
  transition: all 0.2s ease;
}

.accordion__item-body {
  display: grid;
  grid-template-rows: 0fr;
  max-width: 100%;
  padding: 0 2rem;
  transition: 0.3s ease;
}

.accordion__item-body p {
  font-size: 1.4rem;
  color: var(--white-60);
}

.accordion__item--active .accordion__item-body {
  grid-template-rows: 1fr;
  padding: 1rem 2rem;
}

.accordion__item-content {
  overflow: hidden;
}

.accordion__item-content ul {
  padding: 0;
  list-style: none;
}

.accordion__item-content li,
.accordion__item-content div:not([class]) {
  margin-bottom: 8px;
}

.accordion__item-content li:last-child,
.accordion__item-content div:not([class]):last-child {
  margin-bottom: 0;
}

.accordion__item-content ul li {
  position: relative;
  padding-left: 1rem;
}

.accordion__item-content ul li:before {
  content: "-";
  position: absolute;
  left: 0;
}

.accordion__item-content blockquote {
  max-width: 576px;
}

.accordion__close {
  display: none;
  width: 100%;
  max-width: 248px;
  margin-top: var(--small-indent);
}

.accordion__close.visible {
  display: inline-flex;
}

/*   position: fixed;
  right: 1rem;
  left: 1rem;
  bottom: 0.5rem;
  z-index: 1000;
  width: 100%; */
/* tab */
.tabs__btns {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 1rem;
}
.tabs__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  font-weight: 800;
  color: var(--white-60);
  text-align: center;
  max-width: 10.1rem;
  width: 100%;
  height: 4rem;
  background-color: transparent;
  border: 1px solid var(--bg);
  border-radius: var(--border-r-4);
  transition: all 0.2s ease;
}
.tabs__btn--active {
  background-color: var(--primary);
  border-color: var(--primary);
  color: var(--white);
}
.tabs__panel {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  height: 0;
  transition: opacity 0.2s ease;
}
.tabs__panel--active {
  opacity: 1;
  pointer-events: all;
  visibility: visible;
  height: auto;
}

.header__top {
  background-color: var(--black);
}
.header__bottom {
  background: var(--bg);
  backdrop-filter: blur(16.45px);
  padding: 0.1rem 0;
}
.header__bottom .header__container {
  overflow-x: auto;
  padding: 0;
  gap: 3rem;
}
.header__bottom .header__container::-webkit-scrollbar {
  width: 0;
  height: 0;
  padding: 0;
  margin: 0;
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
  padding: 0.1rem 0.1rem 0.1rem 1.8rem;
}
.header__logo {
  width: 6.2rem;
  flex-shrink: 0;
}
.header__logo-img {
  width: 100%;
  object-fit: cover;
}
.header__btn {
  display: none;
  justify-content: center;
  align-items: center;
  gap: 0.7rem;
}
.header__btn:not(.btn--outline) {
  border: 0;
}
.header__btn-icon {
  font-size: 1.8rem;
}
.header__geo {
  display: none;
  align-items: center;
  gap: 0.7rem;
}
.header__geo-link {
  display: flex;
  align-items: center;
  gap: 0.6rem;
  font-weight: 800;
  font-size: 1.2rem;
  line-height: 1.35;
  text-align: center;
  color: var(--white-60);
}
.header__geo-img {
  font-size: 1.2rem;
}
.header__phone {
  display: none;
  align-items: center;
  gap: 1rem;
}
.header__phone-link {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-weight: 800;
  font-size: 1.2rem;
  line-height: 1.35;
  color: var(--white);
  white-space: nowrap;
}
.header__phone-icon {
  font-size: 2rem;
}
.header .btn {
  height: 3rem;
}
.header .btn--red {
  --button-font-size: 1rem;
}
.header input[type=text] {
  height: 3rem;
}
/* navigation */
.nav {
  padding: 1rem 1.8rem;
}
.nav__list {
  display: inline-flex;
  flex-direction: row;
  gap: 2rem;
}
.nav__list-link {
  font-weight: 800;
  font-size: 1.2rem;
  line-height: 1.35;
  color: var(--white-60);
  white-space: nowrap;
  transition: all 0.2s ease;
}
.nav__list-link:hover {
  color: var(--white);
}

.footer {
  padding: 3rem 0 8.4rem;
  background-color: var(--bg);
}
.footer__bottom {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.4rem 3rem;
}
.footer__bottom-wrap {
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
}
.footer__bottom-text {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.4;
  color: var(--white-50);
  max-width: 40rem;
  text-align: center;
}
.footer__pay {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.footer__pay-item {
  width: fit-content;
  height: 3.7rem;
  flex-shrink: 0;
}
.footer__pay-img {
  width: auto;
  height: 100%;
  object-fit: cover;
}

.hero {
  overflow: hidden;
  background-color: var(--black-main);
  margin-bottom: 2rem;
}
.hero__container {
  padding: 0;
}
.hero__slider-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.6rem;
  padding: 2rem 1.6rem 1.5rem;
  position: relative;
  background-image: url(./../images/hero/bg-mob.webp);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
}
.hero__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: min-content;
  position: relative;
  z-index: 1;
  text-align: center;
}
.hero__title {
  height: calc(2 * line-height);
  -webkit-line-clamp: 2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin-bottom: 2rem;
  align-content: end;
  letter-spacing: 0.03em;
}
.hero__subtitle {
  margin-bottom: 2rem;
  width: auto;
  font-size: 1.2rem;
  color: var(--white-60);
  white-space: nowrap;
}
.hero__btn {
  padding: 1.2rem 2.2rem;
  border-radius: var(--border-r-7);
}
.hero__pic {
  width: 47.87%;
  height: auto;
  object-fit: cover;
  transform: rotate(26.78deg);
  margin-bottom: -5rem;
}
.hero__pic-img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.catalog__inner {
  margin-bottom: 2rem;
}
.catalog__items {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 0.5rem;
}
.catalog__item {
  border-radius: var(--border-r-13);
  background-color: var(--bg);
  position: relative;
  padding: 0;
  overflow: hidden;
}
.catalog__item-img {
  /*width: fit-content;
  height: 100%;*/
}
.catalog__item-title {
  font-size: 1.4rem;
  font-weight: 800;
  line-height: 1;
  color: var(--white-60);
}
.catalog__item-link {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 1rem;
  color: var(--white-60);
}
.catalog__item-link i {
  display: block;
  margin: 0 2rem 0 auto;
}
.catalog__item-body {
  display: none;
}
.catalog__item-body.accordion__item-body {
  display: grid;
}

.brand__inner {
  display: none;
  align-items: center;
  gap: 2.4rem;
  background-color: var(--bg);
  border-radius: var(--border-r-18);
  padding: 1.5rem 1rem;
}
.brand__slider {
  width: calc(100% - 4.8rem - 6rem);
}
.brand__slider-item {
  width: fit-content;
  height: 4rem;
}
.brand__slider-img {
  width: auto;
  height: 100%;
  object-fit: cover;
}
.brand__slider-btn {
  font-size: 1rem;
  padding: 1rem;
  align-content: center;
  color: var(--white-60);
  cursor: pointer;
}
.brand__slider-btn--prev {
  transform: scale(-1, 1);
}

.offer {
  /*.swiper-pagination,
  .swiper-horizontal>.swiper-pagination-bullets,
  .swiper-pagination-bullets.swiper-pagination-horizontal,
  .swiper-pagination-custom,
  .swiper-pagination-fraction {
    position: relative;
    top: unset;
    bottom: unset;
    right: unset;
    left: 50%;
    transform: translateX(-50%);
    margin: 1.7rem 0 0;
  }*/
}
.offer__inner {
  margin-bottom: 2rem;
}
.offer__slider {
  position: relative;
  overflow: hidden;
  height: 100%;
}
.offer__banner {
  height: 100%;
}
.offer__banner-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  padding: 4rem 2rem;
  border-radius: var(--border-r-13);
  background-image: url(./../images/offer/o-1.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.offer .swiper-slide {
  height: auto;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  padding: 1rem;
  border-radius: var(--border-r-13);
  background-color: var(--bg);
}
.card__fav {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  z-index: 1;
  font-size: 1.7rem;
  line-height: 100%;
  color: var(--white-60);
  background: transparent;
}
.card__fav i::before {
  content: "\e90a";
}
.card__fav--active {
  color: var(--white-60);
}
.card__fav--active i::before {
  content: "\e90b";
}
.card__img {
  width: auto;
  height: 7.7rem;
  object-fit: cover;
  margin: 1.8rem auto 1.2rem;
}
.card__content {
  display: grid;
  width: 100%;
}
.card__tags {
  margin-bottom: 0.5rem;
}
.card__tags-item {
  font-weight: 800;
  font-size: 1rem;
  line-height: 120%;
  color: var(--primary);
}
.card__name {
  font-weight: 800;
  font-size: 1.2rem;
  line-height: 120%;
  color: var(--white-60);
  margin-bottom: 1.3rem;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.card__grid {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 0.7rem 0.4rem;
  width: fit-content;
  margin-bottom: 1rem;
}
.card__price {
  font-weight: 700;
  font-size: 1.2rem;
  line-height: 100%;
  color: var(--white);
  width: fit-content;
}
.card__discount {
  font-weight: 400;
  font-size: 0.8rem;
  line-height: 100%;
  text-decoration-line: line-through;
  color: var(--white-60);
  align-content: flex-end;
}
.card__profit {
  grid-column: 1/3;
  color: var(--primary);
  font-weight: 700;
  font-size: 1rem;
  line-height: 120%;
}
.card__profit-text {
  font-weight: 400;
  color: var(--grey);
}
.card__split {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 1rem;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.4;
  color: var(--white);
}
.card__split-item {
  display: flex;
  align-items: center;
  gap: 0.1rem;
  background: var(--white-sec);
  border-radius: 2rem 0.2rem 0.2rem 2rem;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1rem;
  color: var(--black-main);
  padding: 0.1rem 0.4rem 0.1rem 0.1rem;
}
.card__split-img {
  width: fit-content;
  height: 1.3rem;
  object-fit: cover;
}

.programm__inner {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.programm__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  padding: 2rem 1.5rem 1.5rem;
  border-radius: var(--border-r-13);
  background-color: var(--bg);
  text-align: center;
}
.programm__title {
  color: var(--white);
  margin-bottom: 0;
}
.programm__text {
  font-size: 1.2rem;
  color: var(--white-60);
}
.programm__block {
  display: flex;
  align-items: center;
  gap: 2rem;
  border-radius: var(--border-r-13);
  background-color: var(--bg);
  padding: 2rem;
  position: relative;
  height: auto;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.71), rgba(0, 0, 0, 0.71)), url(./../images/bg-2.webp);
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: cover;
}
.programm__block-btn {
  z-index: 1;
}
.programm__block-icon {
  width: 18px;
  fill: var(--coral);
}
.programm__block-text {
  font-size: 1.2rem;
  font-weight: 800;
  width: 50%;
}
.programm__block-pic {
  position: absolute;
  top: 0.4rem;
  right: 4.8rem;
  bottom: 0;
  height: calc(100% - 0.4rem);
  flex-shrink: 0;
}
.programm__block-img {
  width: auto;
  height: 100%;
  object-fit: cover;
}

.trade-in {
  /*.swiper-pagination,
  .swiper-horizontal>.swiper-pagination-bullets,
  .swiper-pagination-bullets.swiper-pagination-horizontal,
  .swiper-pagination-custom,
  .swiper-pagination-fraction {
    position: relative;
    top: unset;
    bottom: unset;
    right: unset;
    left: 50%;
    transform: translateX(-50%);
    margin: 1.7rem 0 0;
  }*/
}
.trade-in__slider {
  overflow: hidden;
}
.trade-in .card__tags-item {
  color: var(--sea);
}
.trade-in .card__name {
  margin-bottom: 1.3rem;
}
.trade-in .card__price {
  margin-bottom: 1rem;
}

.fact__items {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 1rem;
}
.fact__item {
  width: calc(50% - 0.5rem);
}
.fact__content {
  display: flex;
  align-content: flex-start;
  flex-wrap: wrap;
  gap: 1.2rem 1rem;
  width: 100%;
  height: 100%;
  padding: 1.5rem 1.5rem 2rem;
  border-radius: var(--border-r-13);
  background-color: var(--bg);
}
.fact__content-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.9rem;
  height: 2.9rem;
  border-radius: var(--border-r-6);
  background-color: var(--black);
  font-size: 1.5rem;
  text-align: center;
  color: var(--white-60);
}
.fact__content-title {
  font-weight: 800;
  color: var(--white-60);
  width: calc(80% - 2.9rem - 1rem);
  align-content: center;
}
.fact__content-text {
  width: 100%;
}
.fact__blocks {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.fact__block {
  display: flex;
  align-items: center;
  gap: 2rem;
  width: 100%;
  height: 6rem;
  border-radius: var(--border-r-13);
  padding: 2.3rem;
  position: relative;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./../images/bg-1.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.fact__block-text {
  display: flex;
  flex-direction: column;
  color: var(--white);
  font-weight: 800;
}

.service__items {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(3, 6rem);
  gap: 1rem;
}
.service__content {
  display: grid;
  grid-template-columns: 4rem auto;
  align-items: center;
  gap: 0.8rem;
  height: 100%;
  border-radius: var(--border-r-13);
  background-color: var(--bg);
  padding: 1.2rem 2rem;
  color: var(--white);
  transition: color 0.2s ease, background-color 0.2s ease;
}
.service__content-icon {
  width: 100%;
  height: 100%;
  fill: var(--white-60);
  transition: fill 0.2s ease;
}
.service__content-title {
  font-weight: 800;
}
.service__content:hover {
  background-color: var(--white);
  color: var(--bg);
}
.service__content:hover .service__content-icon {
  fill: var(--bg);
}

.uslugi__items {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-bottom: 1rem;
}
.uslugi__item {
  width: 100%;
}
.uslugi__item:not(:nth-child(1)):not(:nth-child(2)):not(:nth-child(3)):not(:nth-child(4)) {
  display: none;
}
.uslugi__content {
  display: grid;
  grid-template-columns: 4.3rem auto;
  gap: 0.5rem 1rem;
  height: 100%;
  border-radius: var(--border-r-13);
  background-color: var(--bg);
  padding: 1rem;
}
.uslugi__content-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4.3rem;
  height: 4.3rem;
  border-radius: var(--border-r-8);
  background-color: var(--black);
  grid-column: 1/2;
  grid-row: 1/3;
  font-size: 2.2rem;
  color: var(--white-60);
}
.uslugi__content-title {
  font-weight: 800;
  color: var(--white-60);
  grid-column: 2/3;
  grid-row: 1/2;
}
.uslugi__content-text {
  color: var(--white);
  grid-column: 2/3;
  grid-row: 2/3;
}
.uslugi__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 5rem;
}

.faq__items {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.faq__item {
  border-radius: var(--border-r-13);
  border: 1px solid var(--bg);
  background-color: var(--bg);
  font-weight: 800;
  font-size: 1.4rem;
  line-height: 1.35;
  color: var(--white-60);
  transition: all 0.2s ease;
}
.faq__item-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  padding: 1rem 2rem;
  cursor: pointer;
}
.faq__item-text {
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1.33;
  color: var(--white);
}
.faq__item .accordion__item-body {
  padding: 0 3rem;
}
.faq__item.accordion__item--active {
  background-color: transparent;
}
.faq__item.accordion__item--active .accordion__item-btn--icon {
  color: var(--primary);
}
.faq__item.accordion__item--active .accordion__item-body {
  padding: 0 3rem 2rem;
}
.review__inner {
  overflow: hidden;
}
.review__item {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 1rem;
  border-radius: var(--border-r-13);
  padding: 1.5rem 3rem 3rem 1.5rem;
  background-color: var(--bg);
}
.review__item-icon {
  font-size: 3.6rem;
  color: var(--green);
  width: fit-content;
  grid-column: 1/2;
  grid-row: 1/2;
}
.review__item-head {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: var(--white-60);
  grid-column: 2/3;
  grid-row: 1/2;
}
.review__item-name {
  font-weight: 800;
}
.review__item-date {
  font-size: 1rem;
}
.review__item-rating {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.review__item-rating i {
  font-size: 1rem;
  color: var(--yellow);
}
.review__item-body {
  font-size: 1.2rem;
  color: var(--white);
  grid-column: 1/3;
  grid-row: 2/3;
}
.review__item-text {
  -webkit-line-clamp: 6;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.review__btn {
  margin: 1rem auto 0;
  width: 100%;
  height: 5rem;
  font-size: 1.4rem;
  font-weight: 700;
  color: var(--primary);
}

.info__slider {
  overflow: hidden;
}
.info__slider-wrap {
  overflow: hidden;
  border-radius: var(--border-r-13);
  background-color: var(--bg);
}
.info__slider-img {
  display: block;
  width: 100%;
  object-fit: cover;
  aspect-ratio: 179/104;
}
.info__slider-img img {
  width: 100%;
  height: 100%;
}
.info__content {
  display: grid;
  grid-template-columns: 1fr auto;
  padding: 1.5rem;
  color: var(--white-60);
}
.info__content-date {
  margin-bottom: 1rem;
  grid-column: 1/3;
  grid-row: 1/2;
}
.info__content-title {
  margin-bottom: 1.5rem;
  grid-column: 1/3;
  grid-row: 2/3;
  color: inherit;
  font-size: 1.2rem;
  line-height: 1.2;
  transition: color 0.2s ease;
}
.info__content-title:hover {
  color: var(--white);
}
.info__content-tags {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  grid-column: 1/2;
  grid-row: 3/4;
}
.info__content-tags a {
  color: var(--primary);
  font-size: 1rem;
}
.info__content-btn {
  grid-column: 2/3;
  grid-row: 3/4;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background-color: var(--black);
  font-size: 0.6rem;
  color: var(--white-60);
  transition: color 0.2s ease;
}
.info__content-btn:hover {
  color: var(--white);
}
.contact__inner {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.contact__body {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem 1.5rem;
  border-radius: var(--border-r-13);
  background-color: var(--bg);
  width: 100%;
}
.contact__content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: var(--white-60);
  max-width: 28.9rem;
}
.contact__content .accordion {
  max-width: 19.8rem;
  width: 100%;
}
.contact__content .accordion__item-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 100%;
  height: 3rem;
}
.contact__title {
  font-size: 1.4rem;
  font-weight: 800;
  line-height: 1.2;
}
.contact__item {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-size: 1rem;
}
.contact__item-title {
  line-height: 1.75;
}
.contact__item-subtitle {
  color: var(--white-50);
  line-height: 1.1;
}
.contact__item-text {
  font-size: 1.4rem;
  font-weight: 800;
  line-height: 1.1;
  color: var(--white);
  width: fit-content;
}
.contact__item-btn {
  font-weight: 800;
  font-size: 1.2rem;
  line-height: 1.66;
  color: var(--primary);
  border: 1px solid var(--border-c-20);
  border-radius: var(--border-r-4);
  background-color: transparent;
}
.contact__map {
  display: none;
  border-radius: var(--border-r-13);
  overflow: hidden;
  width: 100%;
}
.contact__map-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media screen and (min-width: 1441px) {
  :root {
    --border-r-13: 1.8rem;
  }
  section {
    margin-bottom: 4rem;
  }
  .container {
    max-width: calc(1520px + 4rem);
  }
  .title {
    font-size: 8rem;
    line-height: 1;
  }
  .text {
    font-size: 3.4rem;
    line-height: 1.2;
  }
  .block-title {
    font-size: 3rem;
    line-height: 1.1;
  }
  input[type=text] {
    font-size: 1.2rem;
    line-height: 1.333;
  }
  .btn--red {
    --button-padding-x: 1.5rem;
    --button-padding-y: 0.9rem;
    --button-font-size: 1.4rem;
    --button-border-radius: 0.4rem;
  }
  .btn--resize::after {
    font-size: 7rem;
    line-height: 5rem;
  }
  .btn--resize::before {
    font-size: 1.75rem;
  }
  /* header */
  .header__logo {
    width: 9.2rem;
  }
  .header .btn {
    height: 4rem;
  }
  .header .btn--red {
    --button-font-size: 1.2rem;
  }
  .header input[type=text] {
    height: 4rem;
  }
  .header__geo-link {
    font-size: 1.4rem;
    gap: 0.8rem;
  }
  .nav__list-link {
    font-size: 1.4rem;
  }
  .header__phone-link {
    font-size: 1.4rem;
  }
  .panel {
    padding: 0 1rem;
    height: 4rem;
  }
  .panel__wrap {
    width: 4rem;
    height: 100%;
  }
  .panel__link {
    font-size: 1.9rem;
  }
  .switch__btn {
    padding: 0.2rem;
    height: 4rem;
    gap: 0.3rem;
  }
  .switch__btn-item {
    width: 3.6rem;
    height: 3.6rem;
  }
  /* hero */
  .hero__title {
    margin-bottom: 3rem;
  }
  .hero__subtitle {
    margin-bottom: 4.4rem;
  }
  .hero__btn {
    font-size: 1.4rem;
  }
  .hero__slider-item {
    padding: 10.5rem 1.8rem;
  }
  .hero .swiper-horizontal > .swiper-pagination-bullets,
  .hero .swiper-pagination-bullets.swiper-pagination-horizontal,
  .hero .swiper-pagination-custom,
  .hero .swiper-pagination-fraction {
    bottom: 3.4rem;
  }
  /* catalog */
  .catalog__item-link {
    padding: 2rem 2rem 3rem;
    gap: 2rem;
  }
  .catalog__item-title {
    font-size: 1.6rem;
  }
  .brand__inner {
    gap: 5.4rem;
    padding: 2rem;
  }
  .brand__slider {
    width: calc(100% - 10.8rem - 6rem);
  }
  .brand__slider-item {
    height: 7rem;
  }
  /* card */
  .card {
    padding: 3rem 3rem 2rem;
  }
  .card__fav {
    top: 3.5rem;
    right: 3.5rem;
  }
  .card__tags {
    margin-bottom: 1.5rem;
  }
  .card__img {
    height: 17.2rem;
    margin: 4.7rem auto 3.3rem;
  }
  .card__name {
    margin-bottom: 1.5rem;
  }
  .card__price {
    font-size: 1.4rem;
  }
  .card__discount {
    font-size: 1.2rem;
  }
  .card__profit {
    font-size: 1.2rem;
  }
  .card__grid {
    margin-bottom: 1.7rem;
  }
  /* trade-in */
  .trade-in .card__price {
    margin-bottom: 1.7rem;
  }
  /* programm */
  .programm__inner {
    min-height: 33rem;
  }
  .programm__content {
    justify-content: center;
  }
  .programm__title {
    font-size: 3rem;
  }
  .programm__text {
    font-size: 1.4rem;
    max-width: 43rem;
  }
  .programm__block-text {
    font-size: 3rem;
  }
  .programm__block-pic {
    top: 4.4rem;
    height: calc(100% - 4.4rem);
  }
  /* fact */
  .fact__item {
    width: calc(25% - 1.5rem);
  }
  .fact__content {
    gap: 1rem 3rem;
  }
  .fact__content-icon {
    width: 4rem;
    height: 4rem;
    font-size: 2.2rem;
  }
  .fact__content-title {
    font-size: 1.6rem;
    width: calc(70% - 7rem);
  }
  .fact__content-text {
    width: calc(100% - 7rem);
    margin-left: auto;
  }
  .fact__block {
    padding: 3rem;
  }
  .fact__block-text.block-text {
    font-size: 1.6rem;
  }
  .fact__block-btn.btn--yt {
    font-size: 1.75rem;
  }
  .fact__block-btn.btn--yt::before {
    font-size: 1.75rem;
  }
  .fact__block-btn.btn--yt::after {
    font-size: 7rem;
  }
  .block-text {
    font-size: 1.4rem;
  }
  /* service */
  .service__content {
    grid-template-columns: 6rem auto;
  }
  .service__items {
    grid-template-rows: repeat(1, 8rem);
  }
  /* review */
  .review__btn {
    max-width: 36.8rem;
    height: 5rem;
    margin: 2rem auto 0;
  }
  /* faq */
  .faq__item-title {
    padding: 2rem 3rem;
    font-size: 1.6rem;
  }
  /* contact */
  .contact__inner {
    flex-direction: row;
  }
  .contact__body {
    padding: 3rem;
    gap: 3rem;
    max-width: 49.3rem;
  }
  .contact__content {
    gap: 2rem;
    color: var(--white);
    max-width: 30.2rem;
  }
  .contact__item {
    gap: 1rem;
    font-size: 1.6rem;
  }
  .contact__title {
    font-size: 3rem;
    font-weight: 700;
    color: var(--white);
  }
  .contact__item-title {
    font-weight: 800;
  }
  .contact__item-text {
    font-weight: 400;
    font-size: 1.6rem;
  }
  .contact__item-subtitle {
    font-size: 1.2rem;
    color: var(--white);
  }
  .contact__item-btn {
    display: none;
  }
  .contact__item-link {
    color: var(--primary);
    font-weight: 700;
    font-size: 1.6rem;
  }
  /* info */
  .info__content {
    padding: 3rem 3rem 2rem;
  }
  .info__content-title {
    font-size: 1.6rem;
  }
  .info__content-btn {
    width: 4.7rem;
    height: 4.7rem;
  }
  /* uslugi */
  .uslugi__content {
    padding: 2rem;
  }
}
@media screen and (min-width: 1201px) {
  .card__content {
    grid-template-columns: 1fr auto;
  }
  .card__split {
    grid-column: 1/2;
    grid-row: 4/5;
    margin-bottom: 0;
    font-size: 1.2rem;
  }
  .card__split-item {
    font-size: 1.2rem;
  }
  .card__name {
    font-size: 1.6rem;
    grid-column: 1/3;
  }
  .card__grid {
    grid-column: 1/3;
  }
  .card__btn {
    grid-column: 2/3;
    grid-row: 4/5;
    margin: auto 0 auto auto;
  }
}
@media screen and (min-width: 992px) {
  .service__content-icon {
    height: 4.4rem;
  }
  .programm__inner {
    flex-direction: row-reverse;
    gap: 2rem;
  }
  .programm__block {
    width: calc(50% - 1rem);
    height: auto;
  }
  .programm__content {
    width: calc(50% - 1rem);
    padding: 4rem 1rem;
    gap: 2rem;
  }
  .fact__items {
    gap: 2rem;
    margin-bottom: 2rem;
  }
  .fact__item {
    width: calc(25% - 1.5rem);
  }
  .fact__blocks {
    gap: 2rem;
  }
  .fact__block {
    width: calc(33.33333% - 1.33333rem);
  }
  .service__items {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    flex-wrap: nowrap;
  }
  .service__item {
    width: auto;
  }
  .uslugi__items {
    gap: 2rem;
  }
  .uslugi__item {
    width: calc(33.33333% - 1.33333rem);
  }
  .uslugi__item:not(:nth-child(1)):not(:nth-child(2)):not(:nth-child(3)):not(:nth-child(4)) {
    display: block;
  }
  .uslugi__btn {
    width: fit-content;
    min-width: 17.9rem;
    height: 4rem;
    margin: 0 auto;
  }
}
@media (max-width: 1440px) and (min-width: 992px) {
  .title {
    font-size: 6rem;
  }
  .programm__block-pic {
    top: 3.3rem;
    right: 3.6rem;
    bottom: 0;
    height: calc(100% - 3.3rem);
  }
  .programm__block-text {
    font-size: 2.4rem;
  }
  .trade-in .card__tags {
    margin-bottom: 1rem;
  }
  .trade-in .card__name {
    margin-bottom: 1rem;
  }
  .card__fav {
    top: 2.5rem;
    right: 2.5rem;
  }
  .card__img {
    height: 14rem;
    margin: 0 auto 3rem;
  }
  .card__name {
    font-size: 1.4rem;
  }
  .fact__item {
    width: calc(25% - 1.5rem);
  }
  .fact__content {
    gap: 1rem 2rem;
  }
  .fact__content-icon {
    width: 3rem;
    height: 3rem;
  }
  .fact__content-title {
    font-size: 1.4rem;
  }
  .fact__content-text {
    width: calc(100% - 5rem);
    margin-left: auto;
  }
  .fact__block {
    padding: 2rem;
  }
  .fact__block-text {
    font-size: 1.4rem;
  }
  .service__items {
    grid-template-rows: repeat(1, 7.7rem);
  }
  .faq__item-title {
    padding: 2rem;
  }
  .contact__inner {
    flex-direction: row;
  }
  .contact__body {
    padding: 2rem;
    gap: 3.4rem;
    max-width: 36.7rem;
  }
  .contact__content {
    gap: 2rem;
    color: var(--white);
    max-width: 30.2rem;
  }
  .contact__item {
    gap: 1rem;
    font-size: 1.4rem;
  }
  .contact__title {
    font-size: 2.4rem;
    font-weight: 700;
    color: var(--white);
  }
  .contact__item-title {
    font-weight: 800;
  }
  .contact__item-text {
    font-weight: 400;
  }
  .contact__item-subtitle {
    font-size: 1rem;
    color: var(--white);
  }
  .contact__item-btn {
    display: none;
  }
  .contact__item-link {
    color: var(--primary);
    font-weight: 700;
  }
  .uslugi__content {
    padding: 1.5rem 2rem;
  }
}
@media (max-width: 1440px) and (min-width: 601px) {
  section {
    margin-bottom: 3rem;
  }
  .btn--resize::after {
    font-size: 4.2rem;
    line-height: 3rem;
  }
  .btn--resize::before {
    font-size: 1.185rem;
  }
  .block-title {
    font-size: 2.4rem;
    line-height: 1.375;
  }
  .tabs__btn {
    max-width: 8.9rem;
    height: 3rem;
    font-size: 1rem;
  }
  .header__logo {
    width: 7.265rem;
  }
  .hero__title {
    margin-bottom: 2rem;
  }
  .hero__subtitle {
    font-size: 2.4rem;
    margin-bottom: 3rem;
  }
  .hero .swiper-horizontal > .swiper-pagination-bullets,
  .hero .swiper-pagination-bullets.swiper-pagination-horizontal,
  .hero .swiper-pagination-custom,
  .hero .swiper-pagination-fraction {
    bottom: 2rem;
  }
  .panel {
    height: 3rem;
  }
  .panel__wrap {
    width: 3rem;
    height: 100%;
  }
  .panel__link {
    font-size: 1.5rem;
  }
  .brand__inner {
    gap: 2.8rem;
    padding: 3rem 2rem;
    padding: 1.5rem 1rem;
  }
  .brand__slider {
    width: calc(100% - 5.6rem - 6rem);
  }
  .brand__slider-item {
    height: 5rem;
  }
  /* card */
  .card {
    padding: 3rem 2rem 2rem;
  }
  .programm__block {
    padding: 1.6rem 2.5rem;
  }
  /* fact */
  .fact__block-btn.btn--yt {
    font-size: 1rem;
  }
  .fact__block-btn.btn--yt::before {
    font-size: 1rem;
  }
  .fact__block-btn.btn--yt::after {
    font-size: 4.2rem;
  }
  /* review */
  .review__btn {
    max-width: 24.1rem;
    height: 4rem;
    margin: 2rem auto 0;
  }
  /* info */
  .info__content-title {
    font-size: 1.4rem;
  }
}
@media (max-width: 991px) and (min-width: 601px) {
  .title {
    font-size: 4rem;
  }
  .service__items {
    grid-template-rows: repeat(3, 7.7rem);
  }
  .fact__block {
    padding: 1rem 2rem;
  }
  .programm__block-text {
    font-size: 1.6rem;
  }
  .faq__item-title {
    padding: 1.5rem 2rem;
  }
  .contact__body {
    flex-direction: row;
    justify-content: space-between;
    padding: 2rem;
  }
  .contact__content {
    max-width: 50%;
  }
}
@media (max-width: 991px) and (min-width: 769px) {
  .fact__items {
    gap: 1rem;
  }
  .fact__item {
    width: calc(25% - 0.75rem);
  }
}
@media screen and (min-width: 769px) {
  .header__container {
    gap: 1.5rem;
  }
  .catalog__items {
    gap: 2rem;
  }
}
@media (max-width: 1440px) and (min-width: 769px) {
  .container {
    max-width: calc(1140px + 4rem);
  }
}
@media (max-width: 768px) and (min-width: 601px) {
  .container {
    padding: 0 5rem;
  }
  .catalog__items {
    gap: 1rem;
  }
}
@media screen and (min-width: 601px) {
  /* libs */
  .hero .swiper-pagination {
    background-color: var(--black-main-60);
    backdrop-filter: blur(4.2px);
    padding: 1.7rem 2.6rem;
  }
  .hero .swiper-pagination-bullet {
    background-color: var(--black-main-60);
  }
  .hero .swiper-pagination-bullet-active {
    background: var(--black-main-60);
  }
  .swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
  .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 1rem;
  }
  .swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet:first-child,
  .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet:first-child {
    margin: 0 1rem 0 0;
  }
  .swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet:last-child,
  .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet:last-child {
    margin: 0 0 0 1rem;
  }
  /* btn */
  .btn--yt {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .btn--yt::after {
    content: "\e903";
    color: var(--coral);
    font-size: 7rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .btn--yt::before {
    color: var(--white-main);
    font-size: 1.75rem;
    position: relative;
    z-index: 1;
  }
  .btn--resize {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .btn--resize::after {
    content: "\e903";
    color: var(--white-main-30);
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    backdrop-filter: blur(2px);
    border-radius: var(--border-r-8);
  }
  .btn--resize::before {
    color: var(--white-main);
    position: relative;
    z-index: 1;
  }
  .tabs__btns {
    margin-bottom: 2rem;
  }
  /* header */
  .header__top {
    padding: 1.2rem 0;
  }
  .header__container {
    padding: 0 1.8rem;
  }
  .header__btn {
    display: flex;
  }
  .switch__btn {
    display: flex;
  }
  .search__form {
    display: flex;
  }
  .header__panel {
    display: flex;
  }
  .panel {
    gap: 0.5rem;
    width: fit-content;
    background-color: var(--bg);
    border: unset;
    backdrop-filter: blur(8.5px);
    border-radius: var(--border-r-7);
    position: static;
    right: unset;
    left: unset;
    bottom: unset;
    z-index: unset;
  }
  .panel__link-text {
    display: none;
  }
  .panel__item:first-child {
    display: none;
  }
  .panel__item {
    order: unset !important;
  }
  .burger,
  .loupe {
    display: none;
  }
  .header__geo {
    display: flex;
  }
  .header__phone {
    display: flex;
  }
  .header__bottom .header__container {
    padding: 0 1.8rem;
  }
  .nav {
    padding: 1rem 0;
  }
  .nav__list-link:hover {
    color: var(--primary);
  }
  /* hero */
  .hero__slider-item {
    background-image: url(./../images/hero/bg-desktop.webp);
    padding: 7.6rem 1.8rem 8.9rem;
    flex-direction: row;
    gap: unset;
  }
  .hero__content {
    align-items: flex-start;
    width: 50%;
    text-align: left;
  }
  .hero__title {
    text-transform: lowercase;
  }
  .hero__subtitle {
    width: min-content;
    color: var(--white);
    white-space: normal;
  }
  .hero__pic {
    position: absolute;
    top: 50%;
    right: 2rem;
    transform: rotate(26.78deg) translateY(-50%);
    width: 50%;
    margin-bottom: 0;
  }
  .hero__pic-img {
    width: 71.7%;
  }
  /* catalog */
  .catalog__items {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
  }
  .catalog__item-link {
    flex-direction: column;
    gap: 0.7rem;
    padding: 2rem;
  }
  .catalog__item-link .icon-chevron-right-wide {
    display: none;
  }
  .catalog__item-img {
    height: clamp(5rem, 6vw, 9.8rem);
  }
  .brand__inner {
    display: flex;
  }
  /* programm */
  .programm__block {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .programm__block-text {
    order: -1;
    width: 100%;
  }
  .programm__block-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 7rem;
    height: 5rem;
    margin: 0 auto;
    color: var(--white-main);
  }
  .programm__block-icon {
    display: none;
  }
  .fact__blocks {
    flex-direction: row;
  }
  .fact__block {
    justify-content: flex-start;
    align-items: flex-end;
    width: calc(33.33333% - 0.66666rem);
    height: auto;
    aspect-ratio: 208/139;
  }
  /* faq */
  .info__content-title {
    margin-bottom: 2.5rem;
  }
  /* contact */
  .contact__map {
    display: block;
  }
  /* footer */
  .footer {
    padding: 3rem 0 2.4rem;
  }
  .footer__bottom {
    flex-direction: row;
  }
  .footer__bottom-text {
    text-align: left;
  }
  .footer__pay {
    gap: 2.1rem;
  }
  .footer__pay-item {
    height: 5.1rem;
  }
}