/* 62.5% это 10px из 16px, который стоит по умолчанию у браузеров */
html {
  // overflow-x: hidden;
  font-size: 62.5%;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-tap-highlight-color: transparent;
  position: relative;
}

body {
  overflow-x: hidden;
  min-width: 320px;
  min-height: 100vh;
  font-family: 'Manrope', sans-serif;
  font-style: normal;
  color: var(--white);
  background: var(--black);
}

section {
  margin-bottom: 2rem;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  position: relative;
}

.main {
  flex: 1 0 auto;
}

.footer {
  flex: 0 0 auto;
}

.container {
  max-width: 100%;
  padding: 0 2rem;
  margin: 0 auto;
}

.no-scroll {
  overflow: hidden;
  height: 100vh !important;
}

.title {
  font-size: 2rem;
  line-height: 1;
}

.text {
  font-size: 2.4rem;
  line-height: 1.2;
}

.block-title {
  font-weight: 800;
  font-size: 2rem;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 2rem;
}

.block-text {
  font-size: 1.2rem;
  line-height: 1.16;
  font-weight: 400;
}

h1 {
  font-weight: 700;
  font-size: 8rem;
  line-height: 100%;
  letter-spacing: 0.03em;
}

h2 {}

h3 {}

h4 {}

h5 {}

h6 {}

p {}

/* buttons */
.btn {
  --button-padding-x: 1.5rem;
  --button-padding-y: 0.5rem;
  --button-font-size: 1.4rem;
  --button-color: var(--white);
  --button-bgcolor: var(--primary);
  --button-border-width: 0.1rem;
  --button-border-color: var(--primary);
  --button-border-radius: 0.4rem;
  --button-hover-bgcolor: var(--primary-90);
  --button-hover-border-color: transparent;
  --button-disabled-opacity: 0.5;

  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  height: 4rem;
  font-weight: 800;
  line-height: 143%;
  text-align: center;
  white-space: nowrap;
  transition: all 0.3s ease;

  padding: var(--button-padding-y) var(--button-padding-x);
  border: var(--button-border-width) solid var(--button-border-color);
  border-radius: var(--button-border-radius);
  background-color: var(--button-bgcolor);
  color: var(--button-color);
  font-size: var(--button-font-size);
}

.btn:hover {
  background-color: var(--button-hover-bgcolor);
  border-color: var(--button-hover-border-color);
}

.btn:disabled {
  opacity: var(--button-disabled-opacity);
}

.btn--red {
  --button-padding-x: 1rem;
  --button-padding-y: 0.5rem;
  --button-font-size: 1.4rem;
  --button-color: var(--white);
  --button-bgcolor: var(--primary);
  --button-border-width: 0.1rem;
  --button-border-color: var(--primary);
  --button-border-radius: 0.5rem;
  --button-hover-bgcolor: var(--white-main);
  --button-hover-border-color: var(--white-main);

  padding: var(--button-padding-y) var(--button-padding-x);
  border: var(--button-border-width) solid var(--button-border-color);
  border-radius: var(--button-border-radius);
  background-color: var(--button-bgcolor);
  color: var(--button-color);
  font-size: var(--button-font-size);
  text-align: center;
  white-space: nowrap;
  min-height: 3rem;
}

.btn--red:hover {
  --button-color: var(--black-main);
  background-color: var(--button-hover-bgcolor);
  border-color: var(--button-hover-border-color);
}

.btn--blue {
  --button-padding-x: 1rem;
  --button-padding-y: 0.5rem;
  --button-font-size: 1.2rem;
  --button-bgcolor: var(--blue);
  --button-border-color: var(--blue);
  --button-border-radius: 0.5rem;
  --button-hover-bgcolor: var(--blue-90);
  height: 3rem;
}

.btn--outline {
  --button-padding-x: 1rem;
  --button-padding-y: 0.5rem;
  --button-font-size: 1rem;
  --button-color: var(--white);
  --button-bgcolor: transparent;
  --button-border-color: var(--border-c);
  --button-border-radius: 0.5rem;
  --button-hover-bgcolor: var(--border-c);
}

.btn--icon {
  --button-padding-x: unset;
  --button-padding-y: unset;
  --button-font-size: 1.8rem;
  --button-color: var(--white-60);
  --button-bgcolor: transparent;
  --button-border-width: 0.1rem;
  --button-border-color: transparent;
  --button-border-radius: 0.4rem;
  --button-hover-bgcolor: transparent;
  --button-hover-border-color: transparent;

  width: 2.4rem;
  height: 2.4rem;
  min-height: 2.4rem;
  line-height: 1;
  font-weight: 400;
  flex-shrink: 0;

  img {
    width: 1.8rem;
    height: 1.8rem;
    object-fit: cover;
  }
}

.btn--yt {
  color: var(--coral);
  font-size: 1.8rem;
  text-align: center;
  position: relative;
}

.btn--resize {
  color: var(--white-main);
  font-size: 1.8rem;
  line-height: 100%;
  text-align: center;
}

.btn--business {
  --button-padding-x: 0.5rem;
  --button-padding-y: 0.5rem;
  --button-font-size: 1rem;
  --button-line-height: 200%;
  max-width: 11%;
  width: 100%;
  min-width: fit-content;
  line-height: var(--button-line-height);
}

/* inputs */
input[type=text] {
  width: 100%;
  height: 4rem;
  padding: 0.8rem 3.4rem;
  border-radius: var(--border-r-7);
  background: var(--white-main-05);
  border: 0.1rem solid var(--bg);
  box-shadow: inset 0px 0px 11.1px rgba(0, 0, 0, 0.42);
  backdrop-filter: blur(0.42rem);
  font-size: 1rem;
  line-height: 1.4;
  font-weight: 400;
  display: flex;
  align-items: center;
  color: rgba(255, 255, 255, 0.6);
  color: var(--white-main-60);
  transition: all 0.3s ease;

  &:hover {
    border-color: var(--white-30);
    background: var(--white-main-15);
  }
}

/* search */
.search {

  &__form {
    display: none;
    width: 100%;
    position: relative;

    &-input {
      padding: 0.8rem 3.6rem;
      position: relative;
    }

    &-icon {
      position: absolute;
      top: 50%;
      left: 1rem;
      transform: translateY(-50%);
      display: block;
      font-size: 1.7rem;
      color: var(--white-60);
    }

    &-btn {
      display: block;
      width: 2.4rem;
      height: 2.4rem;
      position: absolute;
      top: 50%;
      right: 0.8rem;
      transform: translateY(-50%);
      background: transparent;
      font-size: 1.6rem;
      color: var(--white-60);
    }
  }

  &__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.4rem;
    height: 2.4rem;
    background-color: transparent;
    flex-shrink: 0;
  }

  &__icon {
    width: 1.8rem;
    height: 1.8rem;
    object-fit: cover;
  }

}

/* switch theme */
.switch {

  &__btn {
    display: none;
    justify-content: space-between;
    align-items: center;
    gap: 0.1rem;
    width: fit-content;
    height: 3rem;
    padding: 0.1rem;
    background-color: var(--bg);
    border-radius: var(--border-r-7);
    position: relative;
    z-index: 1;

    &-item {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 2.8rem;
      height: 2.8rem;
      border-radius: var(--border-r-6);
      background-color: var(--black);
      z-index: 4;
      font-size: 1.9rem;
      line-height: 1;
      text-align: center;
      align-content: center;
      color: var(--white-60);
      transition: all .2s linear;
    }
  }

  .switch__btn-circle {
    left: 4.5rem;
  }

  .light-mode {
    background-color: var(--black);
    color: var(--white-60);

    .icon-sun::before {
      text-shadow: unset;
    }
  }

  .dark-mode {
    background-color: var(--primary);
    color: var(--white);

    .icon-moon::before {
      text-shadow: 0px 0px 5.4px rgba(255, 255, 255, 0.75);
    }
  }

}

.light-mode {
  background-color: var(--primary);
  color: var(--white);

  .icon-sun::before {
    text-shadow: 0px 0px 5.4px rgba(255, 255, 255, 0.75);
  }
}

.dark-mode {
  background-color: var(--black);
  color: var(--white-60);

  .icon-moon::before {
    text-shadow: none;
  }
}

/* panel */
.panel {
  display: flex;
  flex-direction: row;
  padding: 0 0.5rem;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  gap: clamp(1rem, 5vw, 2rem);
  width: calc(100% - 2rem);
  height: 6rem;
  background: rgba(0, 0, 0, 0.75);
  border: 0.1rem solid rgba(159, 159, 165, 0.2);
  backdrop-filter: blur(8.5px);
  border-radius: var(--border-r-13);

  position: fixed;
  right: 1rem;
  left: 1rem;
  bottom: 1rem;
  z-index: 103;

  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;

  &--active {
    visibility: visible;
    opacity: 1;
    pointer-events: all;
  }

  &__wrap {
    // width: 5rem;
    width: clamp(3rem, 14vw, 5rem);
    height: 5rem;
  }

  &__item {

    &:nth-child(1) {
      order: 1;
    }

    &:nth-child(2) {
      order: 4;
    }

    &:nth-child(3) {
      order: 5;
    }

    &:nth-child(4) {
      order: 3;
    }

    &:nth-child(5) {
      order: 2;
    }
  }

  &__link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.6rem;
    width: 100%;
    height: 100%;
    color: var(--white-60);
    /* - */
    font-size: 2.5rem;
    transition: all 0.3s ease;
    position: relative;

    &-img {
      width: auto;
      height: 1.9rem;
      object-fit: contain;
    }

    &-text {
      font-family: "Manrope", sans-serif !important;
      font-weight: 800;
      font-size: 0.8rem;
      line-height: 1.1rem;
      color: var(--white-60);
      transition: all 0.3s ease;
    }

    &:hover {
      color: var(--white);

      .panel__link-text {
        color: var(--white);
      }
    }

    &-item {
      position: absolute;
      top: 0.1rem;
      right: 0.4rem;
      text-align: center;
      font-size: 0.8rem;
      line-height: 1;
      color: var(--white-main);
      background-color: var(--primary);
      border-radius: 50%;
      aspect-ratio: 1/1;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 1.7rem;
      height: 1.7rem;
    }

    &[class*=" icon-"] {
      .panel__link-item {
        font-family: 'Manrope', serif;
      }
    }
  }
}

.burger {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.7rem;
  width: 4.8rem;
  height: 4.8rem;
  padding: 1.5rem;
  position: relative;
  background-color: transparent;

  &::before {
    content: "";
    display: block;
    width: 1.5rem;
    height: 0.12rem;
    border-radius: 0.06rem;
    background-color: var(--white);
    transition: all 0.3s ease;
    position: absolute;
    top: calc(50% - .35rem);
    right: 50%;
    transform: translate(50%, -50%);
  }

  &::after {
    content: "";
    display: block;
    width: 1.5rem;
    height: 0.12rem;
    border-radius: 0.06rem;
    background-color: var(--white);
    transition: all 0.3s ease;
    position: absolute;
    top: calc(50% + .35rem);
    right: 50%;
    transform: translate(50%, -50%);
  }

  &.active {

    &::before {
      top: 50%;
      transform: translate(50%, -50%) rotate(45deg);
    }

    &::after {
      top: 50%;
      transform: translate(50%, -50%) rotate(-45deg);
    }
  }
}

.loupe {
  display: flex;
}

/* accordion */
.accordion {

  &__item {
    overflow: hidden;

    &--active {
      .accordion__item-body {
        grid-template-rows: 1fr;
        padding: 1rem 2rem 2rem;
      }
    }

    &-head {
      display: flex;
      align-items: center;
      flex-direction: row;
      gap: 1rem;
      overflow: hidden;
      cursor: pointer;

      &--active {
        .accordion__item-icon {
          transform: rotate(-90deg);
        }
      }
    }

    &-icon {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 0 0 auto;
      transform: rotate(90deg);
      transition: all 0.3s ease;
    }

    &-body {
      display: grid;
      grid-template-rows: 0fr;
      max-width: 100%;
      padding: 0 2rem;
      transition: 0.3s linear;

      p {
        font-size: 1.4rem;
        color: var(--white-60);
      }
    }

    &-content {
      overflow: hidden;
    }
  }

  &__list {
    margin: 0 0 0 5.8rem;

    &-item {

      &:not(:last-child) {
        margin-bottom: 1.5rem;
      }

      &--active {

        .accordion__list-icon {
          transform: rotate(-90deg);
        }

        .accordion__list-body {
          grid-template-rows: 1fr;
          padding: 1.5rem 2rem 0 0;
        }
      }
    }

    &-head {
      display: flex;
      flex-direction: row-reverse;
      justify-content: flex-end;
      align-items: center;
      gap: 1rem;
      font-weight: 400;
      font-size: 1.4rem;
      line-height: 1;
      color: var(--white-60);
      transition: all 0.3s linear;
      cursor: pointer;

      &--active {
        color: var(--primary);
      }
    }

    &-icon {
      display: flex;
      justify-content: center;
      align-items: center;
      transform: rotate(90deg);
      transition: all 0.3s linear;
      margin: 0;
    }

    &-body {
      display: grid;
      grid-template-rows: 0fr;
      max-width: 100%;
      padding: 0 2rem 0 0;
      transition: 0.3s linear;
      overflow: hidden;

      p {
        font-size: 1.4rem;
        color: var(--white-60);
      }
    }

    &-content {
      overflow: hidden;

      li:not(:last-child) {
        margin-bottom: 1.5rem;
      }
    }

    &-link {
      color: inherit;
      position: relative;
      padding: 0 0 0 3.4rem;

      &::before {
        content: "";
        display: block;
        width: 0.3rem;
        height: 0.3rem;
        border-radius: 50%;
        background-color: var(--white);
        position: absolute;
        top: 50%;
        left: 0.55rem;
        transform: translateY(-50%);
      }
    }
  }
}

/* tab */
.tabs {

  &__btns {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 1rem;
  }

  &__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    font-weight: 800;
    color: var(--white-60);
    text-align: center;
    cursor: pointer;
    max-width: 10.1rem;
    width: 100%;
    height: 4rem;
    background-color: transparent;
    border: 0.1rem solid var(--bg);
    border-radius: var(--border-r-4);
    transition: all 0.3s ease;

    &--active {
      background-color: var(--primary);
      border-color: var(--primary);
      color: var(--white);
    }
  }

  &__panel {
    // display: none;
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    height: 0;

    &--active {
      // display: block;
      opacity: 1;
      pointer-events: all;
      visibility: visible;
      height: auto;
      transition: opacity 0.3s ease;
    }
  }
}

.menu {
  background-color: var(--black);
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: 102;
  width: 100%;
  height: 100vh;
  overflow-y: scroll;
  border: 0.1rem solid var(--bg);

  &::-webkit-scrollbar {
    width: 0;
    height: 0;
    padding: 0;
    margin: 0;
  }

  &__overlay {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    z-index: 101;
    opacity: 0;
    visibility: hidden;
  }

  &__container {
    padding: 0 1rem;
  }

  &__inner {
    padding: 1.2rem 0 8rem;
  }

  &__title {
    text-align: left;
    margin-bottom: 3rem;
  }

  &__items {
    display: grid;
    gap: 1.5rem;
  }

  &__item {
    color: var(--white-60);

    &-img {
      width: 2.4rem;
      height: 2.4rem;
      object-fit: cover;
      flex-shrink: 0;
    }

    &-title {
      font-weight: 800;
      font-size: 1.4rem;
      line-height: 1.35;
    }

    .accordion__item--active {

      &>.accordion__item-head {
        margin-bottom: 1.5rem;
      }
    }
  }

  .accordion {

    &__item {

      &-head {
        padding-bottom: 1.5rem;
        border-bottom: 0.1rem solid var(--bg);
        transition: border-bottom 0.3s ease;
        transition-delay: 0.3s;

        &--active {}
      }

      .accordion__item-head {
        border-bottom: 0.1rem solid var(--bg);
      }

      &--active {
        .accordion__item-head {
          border-bottom: 0;
        }

        .accordion__item-body {
          padding: 2rem 3rem 2rem 3.4rem;
        }
      }

      &-icon {
        width: 2.4rem;
        height: 2.4rem;
      }

      &-body {
        border-radius: var(--border-r-13);
        background-color: var(--black-main-30);
        padding: 0 3rem 0 3.4rem;
      }
    }

    &__list {
      font-weight: 400;
      font-size: 1.4rem;
      line-height: 1;
      margin: 0;

      .accordion__item-body {
        padding: 0;
        background-color: unset;
      }

      .accordion__item-head--active {
        margin-bottom: 1.5rem;
      }

      &-link {
        color: var(--white);
        padding: 0 0 0 2.4rem;

        // &::before {
        //   left: 1.1rem;
        // }
      }

      li:not([class]) {
        margin-bottom: 1.5rem;
      }
    }
  }

  .tabs {

    &__btns {
      display: grid;
      justify-content: unset;
      margin: 0;
    }

    &__btn {
      background: unset;
      color: inherit;
      width: unset;
      height: unset;
      border-top: 0;
      border-bottom: 0;
      border-right: 0;
      border-left: 0;
      border-radius: 0;
      max-width: 100%;

      &--active {
        border: 0;
      }
    }

    &__panel {}
  }
}

.close {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  position: absolute;
  top: 0;
  right: 0;

  &::before {
    content: "";
    display: block;
    width: 1.4rem;
    height: 0.2rem;
    border-radius: 0.1rem;
    background-color: var(--white-60);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-45.36deg);
  }

  &::after {
    content: "";
    display: block;
    width: 1.4rem;
    height: 0.2rem;
    border-radius: 0.1rem;
    background-color: var(--white-60);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-134.64deg);
  }

  &:hover::before,
  &:hover::after {
    background-color: var(--white);
  }
}

/* dropdown */
.dropdown {
  position: relative;

  &--opened {

    .dropdown__content {
      // visibility: visible;
      // opacity: 1;
      pointer-events: all;
      top: 0;
      height: 100vh;
    }

    .menu__overlay {
      opacity: 1;
      visibility: visible;
    }
  }

  &__content {
    // visibility: hidden;
    // opacity: 0;
    pointer-events: none;
    top: 100%;
    right: 0;
    width: 100vw;
    height: 0;
    transition: all 0.5s ease;
  }
}

.favorite {

  &--active {

    &::before {
      color: var(--primary);
    }
  }

  .panel__link-item {
    background-color: var(--white);
    color: var(--primary);
  }
}

.person {

  &::after {
    content: "";
    display: block;
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 0.25rem;
    background-color: var(--green-sec);
    position: absolute;
    top: 0.01rem;
    right: 1.2rem;
  }
}

.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 110;
  background-color: rgba(0, 0, 0, .3);
  backdrop-filter: blur(0.42rem);
  display: grid;
  align-items: center;
  justify-content: center;
  overflow-y: auto;
  visibility: hidden;
  opacity: 0;
  transition: opacity .2s, visibility .2s;

  &__box {
    position: relative;
    max-width: 1200px;
    width: 90vw;
    max-height: calc(100% - 6rem);
    height: fit-content;
    overflow: hidden;
    padding: 2rem;
    z-index: 1;
    margin: 3rem 1.5rem;
    background-color: var(--bg);
    box-shadow: 0px 0px 17px -7px rgba(34, 60, 80, 0.2);
    transform: scale(0);
    transition: transform .2s;
    border-radius: var(--border-r-13);
  }

  &__close {

    &-btn {
      position: absolute;
      top: 0;
      right: 0;
      border: none;
      background-color: transparent;
      cursor: pointer;
    }
  }

  &__slider {
    width: auto;
    height: 100%;
  }

  &__item {
    width: 100%;
    height: 100%;

    &-img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &.open {
    visibility: visible;
    opacity: 1;

    .modal__box {
      transform: scale(1);
    }
  }

  .swiper-slide {
    max-width: 80%;
    width: fit-content;
    border-radius: var(--border-r-13);
    overflow: hidden;
  }

  &__inner {

    &-img {
      display: block;
      max-width: 600px;
      width: 100%;
      height: auto;
      object-fit: cover;
      margin: 0 auto;
    }
  }
}