/* libs styles */
.swiper-pagination {
  padding: 0;
  background-color: transparent;
  border-radius: 98rem;
  font-size: 0;
  line-height: unset;
}

.swiper-horizontal>.swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  width: fit-content;
  left: 50%;
  transform: translateX(-50%);
  position: relative;
  bottom: 0;
  margin: 1.7rem 0 0;
}

.swiper-pagination-bullet {
  opacity: 1;
  width: 0.6rem;
  height: 0.6rem;
  border-radius: 0.3rem;
  overflow: hidden;
  background-color: var(--white-60);
  transition: width 0.5s ease;
}

.swiper-pagination-bullet-active {
  background: var(--white-60);
  width: 3.6rem;
  position: relative;
}

.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 0.5rem;
}

.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet:first-child,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet:first-child {
  margin: 0 0.5rem 0 0;
}

.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet:last-child,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet:last-child {
  margin: 0 0 0 0.5rem;
}

.hero .swiper-pagination {
  padding: 0;
  background-color: transparent;
  border-radius: 98rem;
  font-size: 0;
  line-height: unset;
}

.hero .swiper-horizontal>.swiper-pagination-bullets,
.hero .swiper-pagination-bullets.swiper-pagination-horizontal,
.hero .swiper-pagination-custom,
.hero .swiper-pagination-fraction {
  width: fit-content;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  bottom: 1.5rem;
}

.hero .swiper-pagination-bullet-active::after {
  content: "";
  display: block;
  width: 0;
  height: 100%;
  border-radius: 0.3rem;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background-color: var(--primary);
  animation-name: timeline;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

.swiper-slide {
  height: auto;
}

.brand__slider {

  .swiper-wrapper {}

  .swiper-slide {
    max-width: fit-content;
  }
}

@keyframes timeline {
  from {
    width: 0%;
  }

  to {
    width: 100%;
  }
}

// #smooth-content {
//   border-top: 1px solid transparent;
//   border-bottom: 1px solid transparent;
// }