@media screen and (min-width: 1441px) {
  .container {
    max-width: calc(1520px + 4rem);
  }

  .title {
    font-size: 8rem;
    line-height: 1;
  }

  .text {
    font-size: 3.4rem;
    line-height: 1.2;
  }

  .block-title {
    font-size: 3rem;
    line-height: 1.1;
  }

  input[type=text] {
    font-size: 1.2rem;
    line-height: 1.333;
  }

  .btn--red {
    --button-padding-x: 1.5rem;
    --button-padding-y: 0.9rem;
    --button-font-size: 1.4rem;
    --button-border-radius: 0.4rem;
  }

  /* header */
  .header__logo {
    width: 9.2rem;
  }

  .header .btn {
    height: 4rem;
  }

  .header .btn--red {
    --button-font-size: 1.2rem;
  }

  .header input[type=text] {
    height: 4rem;
  }

  .header__geo-link {
    font-size: 1.4rem;
    gap: 0.8rem;
  }

  .nav__list-link {
    font-size: 1.4rem;
  }

  .header__phone-link {
    font-size: 1.4rem;
  }

  .panel {
    padding: 0 1rem;
    height: 4rem;
  }

  .panel__wrap {
    width: 4rem;
  }

  .switch__btn {
    padding: 0.2rem;
    height: 4rem;
    gap: 0.3rem;
  }

  .switch__btn-item {
    width: calc(4rem - 0.4rem);
    height: calc(4rem - 0.4rem);
  }

  /* hero */
  .hero__title {
    margin-bottom: 3rem;
  }

  .hero__subtitle {
    margin-bottom: 4.4rem;
  }

  .hero__btn {
    font-size: 1.4rem;
  }

  .hero__slider-item {
    padding: 10.5rem 1.8rem;
  }

  /* catalog */
  .catalog__item-link {
    padding: 2rem 2rem 3rem;
    gap: 2rem;
  }

  .catalog__item-title {
    font-size: 1.6rem;
  }

  .brand__inner {
    gap: 5.4rem;
    padding: 2rem;
  }

  .brand__slider {
    width: calc(100% - 10.8rem - 6rem);
  }

  .brand__slider-item {
    height: 7rem;
  }

  /* card */
  .card {
    padding: 2rem 3rem;
  }

  .card__img {
    height: 17.2rem;
    margin: 5.7rem 3.3rem 3.3rem;
  }

  .card__name {
    font-size: 1.6rem;
    grid-column: 1/3;
  }

  .card__grid {
    grid-column: 1/3;
  }

  .card__price {
    font-size: 1.4rem;
  }

  .card__discount {
    font-size: 1.2rem;
  }

  .card__profit {
    font-size: 1.2rem;
  }

  .card__split {
    grid-column: 1/2;
    grid-row: 4/5;
    margin-bottom: 0;
    font-size: 1.2rem;
  }

  .card__split-item {
    font-size: 1.2rem;
  }

  .card__btn {
    grid-column: 2/3;
    grid-row: 4/5;
    margin: auto 0 auto auto;
  }

  /* programm */
  .programm__inner {
    flex-direction: row-reverse;
    gap: 2rem;
  }

  .programm__content {
    width: calc(50% - 1rem);
    padding: 4rem 1rem;
    gap: 2rem;
  }

  .programm__title {
    font-size: 3rem;
  }

  .programm__text {
    font-size: 1.2rem;
    max-width: 43rem;
  }

  .programm__block {
    width: calc(50% - 1rem);
    height: auto;
  }
}

@media (max-width: 1440px) and (min-width: 992px) {
  .title {
    font-size: 6rem;
  }

  .card__img {
    height: 14rem;
    margin: 1.8rem 1.8rem 3rem;
  }

  .card__name {
    font-size: 1.4rem;
  }
}

@media (max-width: 1440px) and (min-width: 601px) {

  .block-title {
    font-size: 2.4rem;
    line-height: 1.375;
  }

  .header__logo {
    width: 7.265rem;
  }

  .hero__title {
    margin-bottom: 2rem;
  }

  .hero__subtitle {
    font-size: 2.4rem;
    margin-bottom: 3rem;
  }

  .brand__inner {
    gap: 2.8rem;
    padding: 3rem 2rem;
    padding: 1.5rem 1rem;
  }

  .brand__slider {
    width: calc(100% - 5.6rem - 6rem);
  }

  .brand__slider-item {
    height: 5rem;
  }

  /* card */
  .card {
    padding: 2rem;
  }

  .programm__block {
    padding: 1.6rem 2.5rem;
  }
}

@media (max-width: 991px) and (min-width: 601px) {
  .title {
    font-size: 4rem;
  }
}

@media screen and (min-width: 769px) {
  .header__container {
    gap: 1.5rem;
  }

  .catalog__items {
    gap: 2rem;
  }
}

@media (max-width: 1440px) and (min-width: 769px) {
  .container {
    max-width: calc(1140px + 4rem);
  }
}

@media (max-width: 768px) and (min-width: 601px) {
  .container {
    padding: 0 5rem;
  }

  .catalog__items {
    gap: 1rem;
  }
}

@media screen and (min-width: 601px) {

  /* libs */
  .hero .swiper-pagination {
    background-color: var(--black-main-60);
    backdrop-filter: blur(4.2px);
    padding: 1.7rem 2.6rem;
  }

  .hero .swiper-pagination-bullet {
    background-color: var(--black-main-60);
  }

  .hero .swiper-pagination-bullet-active {
    background: var(--black-main-60);
  }

  .swiper-horizontal>.swiper-pagination-bullets,
  .swiper-pagination-bullets.swiper-pagination-horizontal,
  .swiper-pagination-custom,
  .swiper-pagination-fraction {
    bottom: 3.4rem;
  }

  .swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
  .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 1rem;
  }

  .swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet:first-child,
  .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet:first-child {
    margin: 0 1rem 0 0;
  }

  .swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet:last-child,
  .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet:last-child {
    margin: 0 0 0 1rem;
  }

  /* header */
  .header__top {
    padding: 1.2rem 0;
  }

  .header__container {
    padding: 0 1.8rem;
  }

  .header__btn {
    display: flex;
  }

  .switch__btn {
    display: flex;
  }

  .search__form {
    display: flex;
  }

  .panel {
    display: flex;
  }

  .burger,
  .loupe {
    display: none;
  }

  .header__geo {
    display: flex;
  }

  .header__phone {
    display: flex;
  }

  .header__bottom .header__container {
    padding: 0 1.8rem;
  }

  .nav {
    padding: 1rem 0;
  }

  .nav__list-link:hover {
    color: var(--primary)
  }

  /* hero */
  .hero__slider-item {
    background-image: url(./../images/hero/bg-desktop.webp);
    padding: 7.6rem 1.8rem 8.9rem;
    flex-direction: row;
    gap: unset;
  }

  .hero__content {
    align-items: flex-start;
    width: 50%;
    text-align: left;
  }

  .hero__title {
    text-transform: lowercase;
  }

  .hero__subtitle {
    width: min-content;
    color: var(--white);
    white-space: normal;
  }

  .hero__pic {
    position: absolute;
    top: 50%;
    right: 2rem;
    transform: rotate(26.78deg) translateY(-50%);
    width: 50%;
    margin-bottom: 0;
  }

  .hero__pic-img {
    width: 71.7%;
  }

  /* catalog */
  .catalog__items {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
  }

  .catalog__item-link {
    flex-direction: column;
    gap: 0.7rem;
    padding: 2rem;
  }

  .catalog__item-link .icon-chevron-right-wide {
    display: none;
  }

  .catalog__item-img {
    height: clamp(5rem, 6vw, 9.8rem);
  }

  .brand__inner {
    display: flex;
  }

  /* programm */
  .programm__block {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .programm__block-text {
    order: -1;
    font-size: 1.6rem;
    width: 100%;
  }

  .programm__block-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 7rem;
    height: 5rem;
    background-image: url(./../images/icons/play-yt.svg);
    background-repeat: no-repeat;
    background-size: 7rem 5rem;
    background-position: center;
    margin: 0 auto;
  }

  .programm__block-icon {
    display: none;
  }

  /* footer */
  .footer__bottom {
    flex-direction: row;
  }

  .footer__bottom-text {
    text-align: left;
  }

  .footer__pay {
    gap: 2.1rem;
  }

  .footer__pay-item {
    height: 5.1rem;
  }
}

@media (max-width: 1440px) {}

@media (max-width: 991px) {}

@media (max-width: 768px) {}

@media (max-width: 680px) {}

@media (max-width: 600px) {}

@media (max-width: 480px) {}

@media (max-width: 360px) {}