@media screen and (min-width: 1441px) {

  section {
    margin-bottom: 4rem;
  }

  .block-title {
    margin-bottom: 4rem;
  }

  .container {
    max-width: calc(1520px + 4rem);
  }

  .title {
    font-size: 8rem;
    line-height: 1;
  }

  .text {
    font-size: 3.4rem;
    line-height: 1.2;
  }

  .block-title {
    font-size: 8rem;
    margin-bottom: 4rem;
  }

  .btn--red {
    --button-padding-x: 1.5rem;
    --button-padding-y: 0.9rem;
    --button-font-size: 1.4rem;
    --button-border-radius: 0.7rem;
  }

  .btn--resize::after {
    font-size: 7rem;
    line-height: 5rem;
  }

  .btn--resize::before {
    font-size: 1.75rem;
  }

  .btn--business {
    --button-font-size: 1.2rem;
  }

  /* header */
  .header__container {
    padding: 0 2rem;
    gap: 1.5rem;
  }

  .header__bottom .header__container {
    justify-content: flex-start;
    padding: 1rem 2rem;
    gap: 3.2rem;
    height: auto;
  }

  .header__top {
    padding: 2rem 0;
  }

  .header__logo {
    width: 10.4rem;
  }

  .nav__list {
    gap: 3rem;
  }

  .nav__list-link {
    font-size: 1.6rem;
  }

  .panel {
    gap: 1.5rem;
  }

  .panel__wrap {
    width: 4rem;
    height: 100%;
  }

  .panel__link {
    font-size: 1.9rem;
  }

  .menu__container {
    max-width: 1520px;
  }

  .header__geo {
    margin: 0 1.2rem 0 0.7rem;
  }

  /* hero */
  .hero {
    margin: 0 0 2rem;
  }

  .hero__slider {
    height: auto;
    padding: 0;
    margin: 0;
  }

  .hero__slider-item {
    min-height: 60.4rem;
  }

  .hero__title {
    margin-bottom: 3rem;
  }

  .hero__subtitle {
    margin-bottom: 4.4rem;
  }

  .hero__btn {
    font-size: 1.4rem;
  }

  .hero__wrap {
    // padding: 10.5rem 1.8rem;
    padding: 10.5rem 2rem;
    max-width: calc(1520px + 4rem);
  }

  .hero .swiper-horizontal>.swiper-pagination-bullets,
  .hero .swiper-pagination-bullets.swiper-pagination-horizontal,
  .hero .swiper-pagination-custom,
  .hero .swiper-pagination-fraction {
    bottom: 3rem;
  }

  /* catalog */
  .catalog__items {
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
  }

  .catalog__item-wrap {
    gap: 1rem;
  }

  .catalog__item-link {
    gap: 2rem;
    padding: 2rem 2rem 3rem;
  }

  .catalog__item-title {
    font-size: 2.4rem;
  }

  .catalog__item-text {
    font-size: 1.6rem;
  }

  .catalog__item-link {
    padding: 3rem 1.5rem;
    gap: 1rem;
  }

  .catalog__item-img {
    height: 9.8rem;
  }

  .brand__slider {
    width: calc(100% - 10rem);
  }

  .brand__slider-item {
    height: 6rem;
  }

  /* card */
  .card {
    padding: 0 3rem 3rem;
  }

  .card__img {
    height: 15.4rem;
    margin: 4rem auto 3rem;
  }

  .card__fav {
    top: 2.8rem;
    right: 2.6rem;
  }

  .card__name {
    font-size: 2.4rem;
    margin-bottom: 2rem;
  }

  .card__price {
    font-size: 2.4rem;
  }

  .card__discount {
    font-size: 2.4rem;
  }

  .card__percent {
    font-size: 1.4rem;
  }

  .card__profit {
    font-size: 1.4rem;
  }

  .card__profit-text {
    font-size: 1.4rem;
  }

  .card__wrap {
    margin-bottom: 1rem;
  }

  .card__split {
    font-size: 1.2rem;
    margin-bottom: 2rem;
  }

  .card__split-item {
    font-size: 1.2rem;
  }

  /* offer */
  .slider__banner-item .block-title {
    font-size: 3rem;
    margin-bottom: 2rem;
  }

  .trade-in .card__price {
    margin-bottom: 1.7rem;
  }

  /* fact */
  .fact__item {
    padding: 3.4rem 5rem;
    min-height: 23.3rem;
    gap: 2rem;
  }

  .fact__item-title {
    font-size: 3.4rem;
  }

  .fact__item-text {
    font-size: 1.6rem;
    max-width: 21.5rem;
  }

  .fact__item:nth-child(1) {
    width: calc(33.33333% - 0.66666rem);
    min-height: 23.3rem;
  }

  .fact__item:nth-child(1) .fact__item-img {
    width: 20rem;
    right: -1.7rem;
    bottom: -2.5rem;
  }

  .fact__item:nth-child(2) {
    width: calc(33.33333% - 0.66666rem);
  }

  .fact__item:nth-child(2) .fact__item-img {
    width: 37.3rem;
    right: -12.7rem;
    bottom: 0;
  }

  .fact__item:nth-child(3) {
    width: calc(33.33333% - 0.66666rem);
  }

  .fact__item:nth-child(3) .fact__item-img {
    width: 39.7rem;
    right: -7.6rem;
    bottom: -4.9rem;
  }

  .fact__slider {
    height: 48.6rem;
  }

  .fact__slider-wrap {
    grid-column: 1/2;
    grid-row: 1/3;
  }

  .fact__blocks {
    gap: 2rem;
  }

  .fact__block {
    grid-column: 2/3;
    grid-row: 2/3;
    height: 100%;
  }

  .fact__block:last-child {
    grid-column: 2/3;
    grid-row: 1/2;
  }

  .fact__block-item {
    justify-content: center;
    padding: 3rem 5rem;
    gap: 2rem;
  }

  .fact__block-title {
    font-weight: 600;
    font-size: 3.4rem;
    line-height: 100%;
  }

  .fact__block-text {
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 120%;
    max-width: 33rem;
  }

  .fact .btn--play {
    position: absolute;
    top: 3rem;
    right: 3rem;
    width: 5rem;
    height: 5rem;
  }

  .fact .btn--play::before {
    font-size: 1.2rem;
  }

  .fact__block:last-child .fact__block-img {
    height: 27rem;
    top: 50%;
    right: 13.8rem;
    transform: translateY(-50%) rotate(52.33deg);
  }

  .fact__block:last-child .fact__block-img:hover {
    transform: translateY(-50%) scale(1.3);
  }

  .fact__block-img.front {
    height: 29.2rem;
    right: 15.2rem;
    bottom: -3rem;
  }

  .fact__block-img.below {
    height: 14.96rem;
    right: 7.5rem;
    bottom: -1.25rem;
  }

  .fact__slider .swiper-button-next {
    right: 5rem;
  }

  .fact__slider .swiper-button-prev {
    right: 11rem;
  }

  .fact__slider .swiper-button-prev,
  .fact__slider .swiper-button-next {
    bottom: 5rem;
  }

  /* trade-in */
  .trade-in__block {
    padding: 4rem 5rem;
    gap: 2rem;
    min-height: 23.3rem;
  }

  .trade-in__block-title {
    font-weight: 600;
    font-size: 3.4rem;
    line-height: 100%;
  }

  .trade-in__block-text {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 120%;
  }

  .trade-in__blocks {
    gap: 2rem;
    margin-bottom: 2rem;
  }

  .trade-in__block-img {
    height: 68.7rem;
    right: -13rem;
    bottom: -38.7rem;
  }

  .btn--yt {
    font-size: 1.75rem;
  }

  .btn--yt::before {
    font-size: 1.75rem;
  }

  .btn--yt::after {
    font-size: 7rem;
  }

  .block-text {
    font-size: 1.4rem;
  }

  .tabs__btn {
    width: 17.9rem;
  }

  /* service */
  .service__item {
    justify-content: flex-start;
    padding: 4rem 5rem;
    gap: 1rem;
  }

  .service__item-title {
    font-weight: 600;
    font-size: 3.4rem;
    line-height: 100%;
    width: auto;
  }

  .service__item-text {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 100%;
    max-width: 24.7rem;
  }

  .service__item:nth-child(1) {
    height: 34rem;
    gap: 1.5rem;
  }

  .service__item:nth-child(1) .service__item-title {
    font-weight: 600;
    font-size: 6rem;
    line-height: 100%;
  }

  .service__item:nth-child(1) .service__item-text {
    font-weight: 500;
  }

  .service__item:nth-child(1) .service__item-img {
    height: 34.3rem;
  }

  .service__item:nth-child(2) {
    height: 34rem;
  }

  .service__item:nth-child(2) .service__item-img {
    height: 25.1rem;
  }

  .service__item:nth-child(3) {
    height: 34rem;
    color: var(--white);
  }

  .service__item:nth-child(3) .service__item-img {
    height: 32.4rem;
    right: -17.05rem;
    bottom: -8rem;
  }

  .service__item:nth-child(4) {
    height: 16.1rem;
  }

  .service__item:nth-child(4) .service__item-img {
    height: 45.2rem;
    right: -1.8rem;
    bottom: -22.2rem;
  }

  .service__item:nth-child(5) {
    height: 16.1rem;
  }

  .service__item:nth-child(5) .service__item-img {
    height: 20rem;
    right: 0;
    bottom: 0;
  }

  .service__item:nth-child(6) {
    height: 16.1rem;
  }

  .service__item:nth-child(6) .service__item-img {
    height: 15rem;
    right: -2rem;
    bottom: -2.4rem;
  }

  /* review */
  .uslugi__items {
    gap: 2rem;
    flex-wrap: wrap;
    padding: 3rem 6.3rem 4rem 3rem;
  }

  .uslugi__item {
    font-size: 1.6rem;
  }

  .review__item-rating {
    padding: 1rem 0 0;
  }

  .review__btn {
    max-width: 36.8rem;
    height: 5rem;
    margin: 2rem auto 0;
  }

  .review__item-date {
    font-size: 1.4rem;
  }

  .review__item {
    width: 25%;
  }

  /* uslugi */
  .info__content {}

  /* faq */
  .faq__item-title {
    padding: 2rem 3rem;
    font-size: 1.6rem;
  }

  .faq__item.accordion__item>.accordion__item-body {
    padding: 0 12rem 0 3rem;
  }

  .faq__item.accordion__item--active>.accordion__item-body {
    padding: 0 12rem 3.5rem 3rem;
  }

  /* info */
  .info__content {
    padding: 3rem;
  }

  /* contact */
  .contact__inner {
    flex-direction: row;
  }

  .contact__body {
    padding: 3rem;
    gap: 2rem;
    max-width: 49.3rem;
  }

  .contact__content {
    gap: 2rem;
    max-width: 30.2rem;
  }

  .contact__item {
    gap: 1rem;
    font-size: 1.6rem;
  }

  .contact__title {
    font-size: 3rem;
    font-weight: 700;
  }

  .contact__item-title {
    font-weight: 800;
  }

  .contact__item-text {
    font-weight: 600;
    font-size: 1.4rem;
  }

  .contact__item-subtitle {
    font-size: 1.2rem;
  }

  .contact__item-btn {
    display: none;
  }

  .contact__item-link {
    color: var(--primary-color);
    font-weight: 700;
    font-size: 1.6rem;
  }

  /* info */
  .info__content {
    padding: 3rem 3rem 2rem;
  }

  .info__content-title {
    font-size: 1.6rem;
  }

  .info__content-btn {
    width: 4.7rem;
    height: 4.7rem;
  }

  /* uslugi */
}

@media screen and (min-width: 992px) {

  /* libs */
  .hero .swiper-pagination {
    padding: 1.7rem 2.6rem;
  }

  .hero__pic {
    width: 50%;
    height: auto;
    top: 50%;
    transform: translateY(-50%);
    right: unset;
    bottom: unset;
  }

  .swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
  .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 1rem;
  }

  .swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet:first-child,
  .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet:first-child {
    margin: 0 1rem 0 0;
  }

  .swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet:last-child,
  .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet:last-child {
    margin: 0 0 0 1rem;
  }

  .swiper-pagination-bullet {
    border-radius: 0.3rem;
    background-clip: unset;
    border: unset;
    box-sizing: border-box;
  }

  .swiper-pagination-bullet-active {
    background-clip: unset;
    border: unset;
    box-sizing: border-box;
  }

  .swiper-horizontal>.swiper-pagination-bullets,
  .swiper-pagination-bullets.swiper-pagination-horizontal,
  .swiper-pagination-custom,
  .swiper-pagination-fraction {
    margin: 1.7rem 0 0;
  }

  /* header */
  .header__geo {
    display: flex;
  }

  .burger {
    display: none;
  }

  .search__form {
    display: flex;
  }

  .switch__btn {
    display: flex;
  }

  .nav {
    padding: 1rem 0;
  }

  .menu {
    padding: 4rem;
  }

  .panel__items {
    padding: 0 2rem;
  }

  .container.hero__container {
    max-width: unset;
  }

  /* /header */

  .brand__inner {
    display: flex;
  }

  .card__tags-item {
    font-size: 1.4rem;
  }

  /* trade-in */
  .trade-in__blocks {
    flex-direction: row-reverse;
  }

  .trade-in__block {
    width: 100%;
  }

  /* service */
  .service__items {
    display: flex;
    flex-wrap: wrap;
  }

  .service__item:nth-child(1) {
    width: calc(50% - 0.66666rem);
    background-image: url(./../images/service/service-bg-desktop-1.png);
  }

  .service__item:nth-child(2) {
    width: calc(25% - 0.66666rem);
    background-image: url(./../images/service/service-bg-desktop-2.png);
  }

  .service__item:nth-child(3) {
    width: calc(25% - 0.66666rem);
    background-image: url(./../images/service/service-bg-desktop-3.png);
  }

  .service__item:nth-child(3) .service__item-text {
    display: block;
    color: var(--white);
  }

  .service__item:nth-child(4) {
    width: calc(33.333% - 0.66666rem);
  }

  .service__item:nth-child(4) .service__item-text {
    display: block;
    color: var(--primary-black);
  }


  .service__item:nth-child(5) {
    width: calc(33.333% - 0.66666rem);
  }

  .service__item:nth-child(5) .service__item-text {
    display: block;
    color: var(--primary-black);
  }


  .service__item:nth-child(6) {
    width: calc(33.333% - 0.66666rem);
    background-size: 100% 100%;
    background-image: unset;
  }

  .service__item:nth-child(6) .service__item-title {
    color: var(--primary-black);
  }

  .service__item:nth-child(6) .service__item-text {
    display: block;
    color: var(--primary-black);
  }

  .info__head {
    margin-bottom: 3rem;
  }
}

@media (max-width: 1440px) and (min-width: 992px) {
  .title {
    font-size: 6rem;
  }

  .block-title {
    font-size: 5rem;
  }

  /* header */
  .header__container {
    gap: 1rem;
  }

  .header__top .header__container {
    padding: 0 2rem;
  }

  .header__bottom .header__container {
    padding: 0.5rem 2rem;
  }

  .panel {
    gap: 0.5rem;
    margin: 0;
  }

  /* /header */

  .hero__slider {
    height: 45rem;
    padding: 0;
  }

  .hero__wrap {
    padding: 7.6rem 2rem;
  }

  .hero .swiper-horizontal>.swiper-pagination-bullets,
  .hero .swiper-pagination-bullets.swiper-pagination-horizontal,
  .hero .swiper-pagination-custom,
  .hero .swiper-pagination-fraction {
    bottom: 2rem;
  }

  .brand__inner {
    padding: 1rem;
  }

  .catalog__item-link {
    gap: 1rem;
    padding: 2rem 0.5rem;
  }

  .catalog__items {
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
  }

  .catalog__item-wrap {
    gap: 1.5rem;
  }

  .catalog__item-title {
    font-size: 2rem;
  }

  .catalog__item-text {
    font-size: 1.4rem;
    line-height: 100%;
  }

  /* fact */
  .fact__item {
    padding: 3rem;
    min-height: 17.6rem;
  }

  .fact__item-text {
    max-width: 18.2rem;
  }

  .fact__item:nth-child(1) {
    order: unset;
    width: calc(33.33333% - 0.66666rem);
    min-height: 17.6rem;
  }

  .fact__item:nth-child(1) .fact__item-img {
    width: 15.2rem;
    right: -1.3rem;
    bottom: -1.9rem;
  }

  .fact__item:nth-child(2) {
    order: unset;
    width: calc(33.33333% - 0.66666rem);
  }

  .fact__item:nth-child(2) .fact__item-img {
    width: 23.8rem;
    right: -7rem;
    bottom: 0.1rem;
  }

  .fact__item:nth-child(3) {
    order: unset;
    width: calc(33.33333% - 0.66666rem);
  }

  .fact__item:nth-child(3) .fact__item-img {
    width: 28rem;
    right: -5.9rem;
    bottom: -2rem;
  }

  .fact__slider {
    height: 36.6rem;
  }

  .fact__slider-wrap {
    grid-column: 1/2;
    grid-row: 1/3;
  }

  .fact__block {
    grid-column: 2/3;
    grid-row: 2/3;
    height: 100%;
  }

  .fact__block:last-child {
    grid-column: 2/3;
    grid-row: 1/2;
  }

  .fact__block-item {
    padding: 3rem;
    gap: 1rem;
  }

  .fact__block-text {
    max-width: 22.8rem;
  }

  .fact .btn--play {
    position: absolute;
    top: 2rem;
    right: 2rem;
    width: 5rem;
    height: 5rem;
  }

  .fact .btn--play::before {
    font-size: 1.2rem;
  }

  .fact__block:last-child .fact__block-img {
    height: 20rem;
    top: 50%;
    right: 9.5rem;
    transform: translateY(-50%) rotate(52.33deg);
  }

  .fact__block:last-child .fact__block-img:hover {
    transform: translateY(-50%) scale(1.3);
  }

  .fact__block-img.front {
    height: 25.3rem;
    right: 12.1rem;
    bottom: -3.85rem;
  }

  .fact__block-img.below {
    height: 12.95rem;
    right: 5.5rem;
    bottom: -2.75rem;
  }

  .fact__slider .swiper-button-next {
    right: 3rem;
  }

  .fact__slider .swiper-button-prev {
    right: 9rem;
  }

  .fact__slider .swiper-button-prev,
  .fact__slider .swiper-button-next {
    bottom: 3rem;
  }

  /* trade-in */
  .trade-in .card__tags {
    margin-bottom: 1rem;
  }

  .trade-in .card__name {
    margin-bottom: 1rem;
  }

  /* service */
  .service__item {
    justify-content: flex-start;
    gap: 1rem;
    padding: 3rem;
  }

  .service__item-title {
    font-weight: 600;
    font-size: 2.4rem;
    width: auto;
  }

  .service__item-text {
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 120%;
    max-width: 24.7rem;
  }

  .service__item:nth-child(1) {
    height: 25.6rem;
    gap: 1.5rem;

    .service__item-title {
      font-weight: 600;
      font-size: 4rem;
      line-height: 85%;
    }

    .service__item-text {
      font-weight: 500;
    }
  }

  .service__item:nth-child(1) .service__item-img {
    height: 25.858rem;
    right: 0;
    bottom: -2.458rem;
  }

  .service__item:nth-child(2) {
    height: 25.6rem;
  }

  .service__item:nth-child(2) .service__item-img {
    height: 1.56rem;
    right: -1.3rem;
    bottom: -2.1rem;
  }

  .service__item:nth-child(3) {
    height: 25.6rem;
    color: var(--white);
  }

  .service__item:nth-child(3) .service__item-img {
    height: 24.4rem;
    right: -12.963rem;
    bottom: -7.754rem;
  }

  .service__item:nth-child(4) {
    height: 12.1rem;
  }

  .service__item:nth-child(4) .service__item-img {
    height: 31rem;
    right: -0.6rem;
    bottom: -14.7rem;
  }

  .service__item:nth-child(5) {
    height: 12.1rem;
  }

  .service__item:nth-child(5) .service__item-img {
    height: 13.8rem;
    right: 0;
    bottom: -0.9rem;
  }

  .service__item:nth-child(6) {
    height: 12.1rem;
  }

  .service__item:nth-child(6) {
    .service__item-img {
      height: 15rem;
      right: -4.4rem;
      bottom: -3.8rem;
    }
  }

  /* uslugi */
  .uslugi__items {
    flex-direction: row;
  }

  .uslugi__item {
    height: 27.7rem;
  }

  .uslugi__content {
    flex-direction: column;
    padding: 3rem;
  }

  .uslugi__content-title {
    font-size: 2rem;
  }


  .uslugi__content-btn {
    position: absolute;
    right: 2rem;
    bottom: 2rem;
  }

  .uslugi__banner {
    height: 27.7rem;
    position: relative;
  }

  .uslugi__banner-img {
    height: 46.8rem;
    right: -2.14rem;
    bottom: -15rem;
  }

  .card__fav {
    top: 2rem;
    right: 2rem;
  }

  .card__img {
    height: 14rem;
    margin: 0 auto 3rem;
  }

  .card__name {
    font-size: 1.4rem;
  }

  .faq__item-title {
    padding: 2rem;
  }

  .faq__item.accordion__item>.accordion__item-body {
    padding: 0 10rem 0 2rem;
  }

  .faq__item.accordion__item--active>.accordion__item-body {
    padding: 0 10rem 2.5rem 2rem;
  }

  .contact__inner {
    flex-direction: row;
  }

  .contact__body {
    padding: 2rem;
    gap: 3.4rem;
    max-width: 36.7rem;
  }

  .contact__content {
    gap: 2rem;
    max-width: 30.2rem;
  }

  .contact__item {
    gap: 1rem;
    font-size: 1.4rem;
  }

  .contact__title {
    font-size: 2.4rem;
    font-weight: 700;
  }

  .contact__item-title {
    font-weight: 800;
  }

  .contact__item-text {
    font-weight: 400;
  }

  .contact__item-subtitle {
    font-size: 1rem;
  }

  .contact__item-btn {
    display: none;
  }

  .contact__item-link {
    color: var(--primary-black);
    font-weight: 700;
  }
}

@media (max-width: 1440px) and (min-width: 601px) {

  section {
    margin-bottom: 3rem;
  }

  .block-title {
    margin-bottom: 3rem;
  }

  .btn--resize::after {
    font-size: 4.2rem;
    line-height: 3rem;
  }

  .btn--resize::before {
    font-size: 1.185rem;
  }

  /* header */
  .header__top {
    padding: 1.5rem 0;
  }

  .header__logo {
    width: 9.2rem;
  }

  .header__bottom .header__container {
    height: auto;
  }

  .nav__list {
    gap: 1.5rem;
  }

  /* /header */

  .hero__title {
    margin-bottom: 2rem;
  }

  .hero__subtitle {
    font-size: 2.4rem;
    margin-bottom: 3rem;
  }

  .hero {
    margin-bottom: 1rem;
  }

  .catalog__item-img {
    // height: clamp(5rem, 6vw, 9.8rem);
    height: 7.3rem;
  }

  .brand__slider {
    width: calc(100% - 5.6rem - 6rem);
  }

  .brand__slider-item {
    height: 4rem;
  }

  /* card */
  .card {
    padding: 0 2rem 2rem;
  }

  .card__img {
    height: 12.7rem;
    margin: 3rem auto;
  }

  .card__name {
    font-size: 2rem;
    margin-bottom: 1.5rem;
  }

  .card__wrap {
    gap: 1rem;
    margin-bottom: 1rem;
  }

  .card__price {
    font-size: 2rem;
  }

  .card__discount {
    font-size: 2rem;
  }

  .card__percent {
    font-size: 1.4rem;
  }

  .card__profit {
    font-size: 1.4rem;
  }

  .card__split {
    font-size: 1.2rem;
    margin-bottom: 2rem;
  }

  .card__split-item {
    font-size: 1.2rem;
  }

  /* fact */
  .fact__blocks {
    gap: 1rem;
  }

  .fact .btn--play {
    position: absolute;
    top: 2rem;
    right: 2rem;
    width: 5rem;
    height: 5rem;
  }

  .fact .btn--play::before {
    font-size: 1.2rem;
  }

  .fact__block-title {
    font-weight: 600;
    font-size: 2.4rem;
    line-height: 100%;
  }

  .fact__block-text {
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 120%;
    max-width: 22.8rem;
  }

  /* trade-in */
  .trade-in__block {
    padding: 3rem;
    gap: 2rem;
    min-height: 17.6rem;
  }

  .trade-in__block-title {
    font-weight: 600;
    font-size: 2.4rem;
    line-height: 100%;
  }

  .trade-in__block-text {
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 120%;
  }

  .trade-in__block-img {
    height: 49.775rem;
    right: -9.46rem;
    bottom: -27.445rem;
  }

  /* offer */
  .slider__banner-item .block-title {
    font-size: 2.4rem;
    margin-bottom: 2rem;
  }

  .slider__banner-item {
    padding: 2rem;
  }

  .btn--yt {
    font-size: 1rem;
  }

  .btn--yt::before {
    font-size: 1rem;
  }

  .btn--yt::after {
    font-size: 4.2rem;
  }

  /* review */
  .review__item {
    gap: 2rem 1rem;
    padding: 2rem 2.9rem 2.6rem 2rem;
  }

  .review__btn {
    max-width: 24.1rem;
    height: 4rem;
    margin: 2rem auto 0;
  }

  .review__item-text {
    -webkit-line-clamp: 7;
  }

  .review__item-date {
    font-size: 1.2rem;
  }

  /* info */
  .info__content-title {
    font-size: 1.4rem;
  }

  .info__content {
    padding: 2rem;
  }
}

@media (max-width: 991px) and (min-width: 601px) {
  .title {
    font-size: 5rem;
  }

  .block-title {
    font-size: 4rem;
  }

  /* header */
  .container {
    padding: 0 5rem;
  }

  .header__container {
    padding: 0 5rem;
  }

  .header__top .header__container {
    justify-content: flex-end;
  }

  .header__bottom .header__container {
    padding: 0.5rem 5rem;
  }

  .header__logo {
    margin: 0 auto 0 0;
  }

  .panel__items {
    padding: 0 1.5rem;
  }

  .panel {
    gap: 0.5rem;
    margin: 0 2.6rem 0 0;
  }

  .nav {
    padding: 0.7rem 0;
  }

  .hero__slider {
    height: 41.5rem;
  }

  .hero__pic {
    width: 48.3rem;
    height: auto;
    right: -7.8rem;
    bottom: -6.8rem;
  }

  .popular__item {
    width: calc(33% - 1.333rem);
  }

  .popular__item:last-child {
    display: none;
  }

  .popular__item-text {
    font-size: 1.4rem;
  }

  .catalog__items {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    gap: 1rem;
  }

  .catalog__item-link {
    // flex-direction: column;
  }

  .catalog__item-link {
    gap: 1rem;
    padding: 2rem 0.5rem;
  }

  .catalog__item-title {
    font-size: 2rem;
  }

  .catalog__item-text {
    font-size: 1.4rem;
  }

  .catalog__item-wrap {
    gap: 1.5rem;
  }

  /* fact */
  .fact__item {
    min-height: 17.6rem;
  }

  .fact__item-title {
    font-size: 2.4rem;
  }

  .fact__item-text {
    font-size: 1.4rem;
    line-height: 120%;
    max-width: 18.2rem;
  }

  .fact__item:nth-child(1) {
    order: 1;
    width: calc(50% - 0.5rem);
  }

  .fact__item:nth-child(1) .fact__item-img {
    width: 14.6rem;
    right: -4.3rem;
    bottom: -3rem;
  }

  .fact__item:nth-child(2) {
    order: 3;
    width: 100%;
  }

  .fact__item:nth-child(2) .fact__item-img {
    width: 36rem;
    right: 2.1rem;
    bottom: 1.1rem;
  }

  .fact__item:nth-child(3) {
    order: 2;
    width: calc(50% - 0.5rem);
  }

  .fact__item:nth-child(3) .fact__item-img {
    width: 28rem;
    right: -8.4rem;
    bottom: -1.8rem;
  }

  .fact__item:nth-child(3) .fact__item-text {
    max-width: 14.9rem;
  }

  .fact__slider {
    height: 41.7rem;
  }

  .fact__block {
    grid-column: 1/3;
    grid-row: 3/4;
    height: 17.6rem;
  }

  .fact__block:last-child {
    grid-column: 1/3;
    grid-row: 2/3;
  }

  .fact__block-item {
    padding: 3rem;
  }


  .fact__block-img {
    height: 25.4rem;
    right: 15%;
    bottom: -5.6rem;
  }

  .fact__block-img.front {
    height: 25.3rem;
    right: 20rem;
    bottom: -4.05rem;
  }

  .fact__block-img.below {
    height: 12.95rem;
    right: 13.4rem;
    bottom: -2.95rem;
  }

  /* service */
  .service__items {
    grid-template-columns: repeat(4, 1fr);
  }

  .service__item:nth-child(1) {
    grid-column: 1/3;
    min-height: 17.6rem;

    .service__item-img {
      height: 14.4rem;
      right: -2.2rem;
      bottom: 0;
    }
  }

  .service__item:nth-child(2) {
    grid-column: 3/5;
    min-height: 17.6rem;
    background-position: 18% 100%;

    .service__item-img {
      height: 19.7rem;
      right: -12.1rem;
      bottom: 0;
    }
  }

  .service__item:nth-child(3) {
    .service__item-img {
      height: 10rem;
      right: -8rem;
      bottom: 1.3rem;
    }
  }

  .service__item:nth-child(4) {
    .service__item-img {
      right: -4.5rem;
    }
  }

  .service__item:nth-child(5) {
    .service__item-img {
      height: 12.8rem;
      right: -5.3rem;
    }
  }

  .service__item:nth-child(6) {
    .service__item-img {
      height: 13.1rem;
      right: -7.7rem;
      bottom: -2.3rem;
    }
  }

  /* uslugi */
  .uslugi__items {
    gap: 1rem;
  }

  .uslugi__item {
    height: 12.8rem;
  }

  .uslugi__content {
    justify-content: center;
    gap: 3rem;
    padding: 3rem 3.5rem;
  }

  .uslugi__content-icon {
    font-size: 4.6rem;
  }

  .uslugi__content-wrap {
    justify-content: center;
    gap: 2rem;
  }

  .uslugi__content-title {
    font-weight: 600;
    font-size: 2.4rem;
    line-height: 100%;
  }

  .uslugi__content-btn {
    width: 5rem;
    height: 5rem;
  }

  .uslugi__content-btn::before {
    font-size: 1.2rem;
  }

  .uslugi__banner {
    height: 12.8rem;
    padding: 2.5rem 3rem;
  }

  .uslugi__banner-title {
    font-size: 3.4rem;
  }

  .uslugi__banner-btn {
    width: 5rem;
    height: 5rem;
  }

  .uslugi__banner-img {
    height: 46.8rem;
    bottom: -25.7rem;
    right: 0;
  }

  .info__head {
    margin-bottom: 2rem;
  }

  .faq__item-title {
    padding: 1.5rem 2rem;
  }

  .faq__item.accordion__item>.accordion__item-body {
    padding: 0 8.5rem 0 2rem;
  }

  .faq__item.accordion__item--active>.accordion__item-body {
    padding: 0 8.5rem 3rem 2rem;
  }

  .contact__body {
    flex-direction: row;
    justify-content: space-between;
    padding: 2rem;
  }

  .contact__content {
    max-width: 50%;
  }
}

@media (max-width: 991px) and (min-width: 769px) {

  .hero__wrap {
    padding: 3.6rem 2rem 3.5rem;
  }

  .menu {
    padding: 3rem;
  }

}

@media (max-width: 920px) and (min-width: 800px) {
  .card__wrap-item {
    flex-wrap: wrap;
  }

  .card__price {
    width: 100%;
  }
}

@media screen and (min-width: 769px) {

  :root {
    --b-radius-18: 1.8rem;
  }

  .hero__pic {
    //   top: 50%;
    //   right: 2rem;
    // width: 30%;
  }

  .hero__slider-1 .hero__pic {
    right: -3rem;
  }

  .hero__slider-2 .hero__pic {
    width: fit-content;
    height: 95%;
    bottom: 0;
  }

  .hero__slider-2 .hero__pic-img {
    width: auto;
    height: 100%;
  }

  .hero__slider-3 .hero__pic {
    width: 27%;
    top: 80%;
    right: 21rem;
  }

  // .hero__pic-img {
  //   width: 71.7%;
  // }

  .info__head {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
  }

  .tabs__btns {
    width: fit-content;
  }
}

@media (max-width: 1440px) and (min-width: 769px) {

  .menu__container {
    max-width: 1140px;
  }

  .btn--business {
    max-width: 9.212%;
  }

  .hero__wrap {
    max-width: calc(1140px + 4rem);
  }

  .tabs__btn {
    width: 14.9rem;
  }
}

@media (max-width: 768px) and (min-width: 601px) {

  .hero__container {
    padding: 0;
  }

  .hero__wrap {
    padding: 3.6rem 5rem 3.5rem;
  }

  .hero__slider-2 .hero__pic {
    width: 40%;
    bottom: 0;
  }

  // .hero__pic {
  //   position: absolute;
  //   // top: 50%;
  //   top: 48%;
  //   // right: 2rem;
  //   right: 4rem;
  //   transform: rotate(26.78deg) translateY(-50%);
  //   width: 50%;
  //   margin-bottom: 0;
  // }

  // .hero__pic-img {
  //   // width: 71.7%;
  //   width: 82%;
  // }

  .hero__slider-item {
    // background-size: 100% auto;
  }

  .menu {
    padding: 3rem 5rem;
  }
}

@media screen and (min-width: 601px) {

  .block-title {
    max-width: 50%;
  }

  /* btn */
  .btn--blue {
    min-width: 12.9rem;
  }

  .btn--yt {
    width: 4.2rem;
    height: 3rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .btn--yt::after {
    content: "\e903";
    color: var(--primary-orange);
    // font-size: 7rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .btn--yt::before {
    color: var(--primary-white);
    // font-size: 1.75rem;
    z-index: 1;
    transform: translate(-50%, -50%);
  }

  .btn--resize {
    width: 4.2rem;
    height: 3rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .btn--resize::after {
    content: "\e903";
    color: var(--primary-white-30);
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    backdrop-filter: blur(2px);
    border-radius: var(--b-radius-8);
  }

  .btn--resize::before {
    color: var(--primary-white);
    z-index: 1;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .btn--play {
    width: 5rem;
    height: 5rem;
  }

  .tabs__btns {
    margin-bottom: 2rem;
  }

  /* panel */
  .panel {
    position: static;
    display: flex;
    width: fit-content;
    padding: 0;
    background-color: transparent;
    border: 0;
    visibility: visible;
    opacity: 1;
    pointer-events: all;
  }

  .panel__items {
    height: 6rem;
    gap: 2rem;
    border-radius: var(--b-radius-8);
    border: 0.05rem solid var(--border-c);
  }

  .panel__item:first-child {
    display: none;
  }

  .panel__link i {
    color: var(--white);
  }

  .panel__link i::before {
    font-size: 2.7rem;
  }

  .panel__link-text {
    color: var(--white);
  }

  .panel .favorite .panel__link-item {
    color: var(--primary-color);
    background-color: var(--primary-white);
  }

  .panel .basket .panel__link-item {
    color: var(--primary-white);
    background-color: var(--primary-color);
  }

  .panel__item.person {
    max-width: 6rem;
  }

  .panel__item.person .panel__wrap {
    width: 6rem;
  }

  .panel .person .panel__link-text {
    display: none;
  }

  .person .panel__link-wrap {
    width: 6rem;
    height: 6rem;
  }

  .panel .person .panel__link-item {
    top: 0.2rem;
    right: 0.5rem;
    width: 1.1rem;
    height: 1.1rem;
    border-width: 0.3rem;
    border-color: var(--primary-black);
  }

  .panel__link-img {
    width: 4.8rem;
    height: 4.8rem;
  }

  .loupe {
    display: none;
  }

  /* menu */
  .dropdown__content {
    position: absolute;
    top: 0;
    right: 50%;
    bottom: unset;
    transform: translateX(50%);
    width: 100%;
    // overflow-y: hidden;
    overflow-y: scroll;
    border-radius: var(--b-radius-18);
    visibility: hidden;
    opacity: 0;
    z-index: -100;
  }

  .dropdown--opened .dropdown__content {
    max-height: calc(100vh - 17.2rem - 1rem);
    height: fit-content;
    top: 17.2rem;
    visibility: visible;
    opacity: 1;
    z-index: 102;
  }

  .menu__inner {
    padding: 0 0 3.6rem;
    margin-bottom: 4rem;
    position: relative;
    border-bottom: 1px solid var(--primary-bg);
  }

  .menu .close,
  .menu__title {
    display: none;
  }

  .menu__items {
    gap: 2.5rem;
  }

  .menu__item {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 4rem;
  }

  .menu__item-title {
    font-size: 1.6rem;
    text-align: left;
  }

  .accordion__list-item {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 4rem;
  }

  .accordion__list-item>.accordion__list-body {
    width: calc(50% - 2rem);

    position: absolute;
    top: 0;
    left: calc(50% + 2rem);
    padding: 0;
  }

  .menu .accordion__list li:not([class]) {
    margin-bottom: 2.5rem;
  }

  .menu .accordion__item-body {
    position: absolute;
    top: 0;
    right: 0;
    width: calc(66% - 4rem);
    background-color: transparent;
    transition: 0s;
  }

  .menu .accordion__item .accordion__item-body {
    padding: 0;
  }

  .menu .accordion__item--active .accordion__item-body {
    padding: 0;
  }

  .menu .accordion__item .accordion__list-link {
    padding: 0;
    color: var(--primary-black);
  }

  .menu .accordion__item .accordion__list-link::before {
    display: none;
  }

  .menu .accordion__item .accordion__list-link:hover {
    color: var(--primary-color);
  }

  .menu .accordion__item .accordion__item-head {
    border-bottom: 0;
  }

  .menu .accordion__list-icon {
    transform: rotate(0);
  }

  .menu .accordion__list-link {
    font-size: 1.6rem;
    line-height: 2.4rem;
  }

  .menu .accordion__list-head {
    flex-direction: row;
    justify-content: space-between;
    max-width: 324px;
  }

  .menu .accordion__list-head--active {
    margin: 0;
  }

  .menu .accordion__item-body {
    transition: 0s;
  }

  .menu .accordion__item-head {
    font-size: 1.6rem;
    padding: 0;
    border: 0;
    max-width: 324px;
  }

  .menu__wrap:first-child .menu__item::before {
    content: "";
    display: block;
    width: 0.1rem;
    height: calc(100% - 3.6rem);
    background-color: var(--primary-bg);
    position: absolute;
    top: 0;
    bottom: 0;
    right: calc(33.33333% - 2rem);
    // right: 33.33333%;
  }

  .menu__wrap:first-child .menu__item::after {
    content: "";
    display: block;
    width: 0.1rem;
    height: calc(100% - 3.6rem);
    background-color: var(--primary-bg);
    position: absolute;
    top: 0;
    bottom: 0;
    left: calc(33.33333% + 2rem);
    // left: 33.33333%;
  }

  .menu .accordion__item-icon {
    transform: rotate(0deg);
  }

  .menu .tabs__btn--active,
  .menu .accordion__item-head--active {
    color: var(--primary-color);
  }

  .menu .accordion__list-item:not(:last-child) {
    margin-bottom: 2.5rem;
  }

  .menu .tabs__btn {
    border-top: 0;
    border-bottom: 0;
    border-right: 0;
    border-left: 0;
  }

  .header__catalog {
    display: flex;
  }

  // .tabs__btn--active+.accordion__item-body {
  //   grid-template-rows: 1fr;
  // }

  /* popular */
  .popular__inner {
    display: block;
  }

  /* hero */
  .hero__slider {
    // height: auto;
  }

  .hero__slider-item {
    background-image: url(./../images/hero/bg-desktop.webp);
    background-size: cover;
    background-position-x: 40%;
  }

  .hero__slider-2 {
    background-image: url(./../images/hero/bg-2-desktop.webp);
  }

  .hero__slider-3 {
    background-image: url(./../images/hero/bg-3-desktop.webp);
  }

  .hero__wrap {
    // background-image: url(./../images/hero/bg-desktop.webp);
    // padding: 7.6rem 1.8rem 8.9rem;
    flex-direction: row;
    gap: unset;
  }

  .hero__content {
    align-items: flex-start;
    width: 50%;
    min-width: 32.1rem;
    text-align: left;
  }

  .hero__title {
    text-transform: lowercase;
    margin-bottom: 2rem;
    min-width: 36rem;
  }

  .hero__subtitle {
    // width: min-content;
    color: var(--primary-white);
    white-space: normal;
  }

  // .hero__pic {
  //   position: absolute;
  //   top: 50%;
  //   right: 2rem;
  //   transform: translateY(-50%);
  //   margin-bottom: 0;
  // }

  .hero__slider-2 .hero__pic {
    top: unset;
    right: 0;
    transform: unset;
  }

  .hero__slider-3 .hero__pic {
    right: 8dvw;
  }

  /* catalog */
  .catalog__item-body {
    // display: none;
  }

  .catalog__item-link {
    border-radius: var(--b-radius-18);
  }

  .catalog__item-link .icon-chevron-right-wide {
    display: none;
  }

  .offer__inner {
    // margin-bottom: 2rem;
  }

  .card__btn {
    height: 5rem;
  }

  .card__profit {
    line-height: 100%;
  }

  .slider__banner-btn {
    white-space: nowrap;
  }

  /* fact */
  .fact__block-text {
    display: block;
  }

  .fact__block {
    background-image: url(./../images/fact/fact-block-bg-desktop-2.png);
  }

  .fact__block:last-child {
    background-image: url(./../images/fact/fact-block-bg-desktop-1.png);
  }

  /* trade-in */
  .trade-in__block-wrap .trade-in__block-text {
    display: flex;
  }

  /* service */

  /* uslugi */

  /* review */
  .review__item-rating {
    gap: 1rem;
  }

  .review__item-rating i {
    font-size: 1.4rem;
  }

  /* faq */
  .faq__items {
    gap: 1rem;
  }

  .info__content-title {
    margin-bottom: 2.5rem;
  }

  .info__content-tags a {
    font-size: 1.4rem;
  }

  .info__content-date {
    margin-bottom: 1.5rem;
  }

  /* contact */
  .contact__map {
    display: block;
  }

  /* footer */
  .footer {
    padding: 3rem 0 2.4rem;
  }

  .footer__bottom {
    flex-direction: row;
  }

  .footer__bottom-text {
    text-align: left;
  }

  .footer__pay {
    gap: 2.1rem;
  }

  .footer__pay-item {
    height: 5.1rem;
  }
}

@media (max-width: 1440px) {}

@media (max-width: 991px) {}

@media (max-width: 768px) {}

@media (max-width: 680px) {}

@media (max-width: 600px) {}

@media (max-width: 480px) {}

@media (max-width: 380px) {

  .panel,
  .panel__items {
    gap: 2rem;
  }

  .card__wrap {
    gap: 0.5rem;
  }

  .card__wrap-item {
    flex-wrap: wrap;
  }

  .card__price {
    width: 100%;
  }

  .card__profit {
    display: flex;
    flex-wrap: wrap;
    line-height: 120%;
  }

  .card__profit-text {
    width: 100%;
  }
}