@media screen and (min-width: 1441px) {
  :root {
    --border-r-13: 1.8rem;
    --border-r-7: 0.7rem;
  }

  section {
    margin-bottom: 4rem;
  }

  .container {
    max-width: calc(1520px + 4rem);
  }

  .title {
    font-size: 8rem;
    line-height: 1;
  }

  .text {
    font-size: 3.4rem;
    line-height: 1.2;
  }

  .block-title {
    font-size: 3rem;
    line-height: 1.1;
  }

  input[type=text] {
    font-size: 1.2rem;
    line-height: 1.333;
  }

  .btn--red {
    --button-padding-x: 1.5rem;
    --button-padding-y: 0.9rem;
    --button-font-size: 1.4rem;
    --button-border-radius: 0.7rem;
  }

  .btn--resize::after {
    font-size: 7rem;
    line-height: 5rem;
  }

  .btn--resize::before {
    font-size: 1.75rem;
  }

  .btn--business {
    --button-font-size: 1.2rem;
  }

  /* header */
  .header__container {
    padding: 0 2rem;
  }

  .header__top {
    padding: 2rem 0;
  }

  .header__logo {
    width: 9.2rem;
    margin-right: 0.9rem;
  }

  .header .btn {
    height: 4rem;
  }

  .header .btn--red {
    --button-font-size: 1.2rem;
  }

  .header input[type=text] {
    height: 4rem;
  }

  .header__geo-link {
    font-size: 1.4rem;
    gap: 0.8rem;
  }

  .nav__list-link {
    font-size: 1.4rem;
  }

  .header__phone-link {
    font-size: 1.4rem;
  }

  .panel {
    padding: 0 1rem;
    height: 4rem;
  }

  .panel__wrap {
    width: 4rem;
    height: 100%;
  }

  .panel__link {
    font-size: 1.9rem;
  }

  .switch__btn {
    padding: 0.2rem;
    height: 4rem;
    gap: 0.3rem;
  }

  .switch__btn-item {
    width: calc(4rem - 0.4rem);
    height: calc(4rem - 0.4rem);
  }

  .menu__container {
    max-width: 1520px;
  }

  /* hero */
  .hero__title {
    margin-bottom: 3rem;
  }

  .hero__subtitle {
    margin-bottom: 4.4rem;
  }

  .hero__btn {
    font-size: 1.4rem;
  }

  .hero__slider-item {
    // padding: 10.5rem 1.8rem;
    padding: 10.5rem 2rem;
  }

  .hero .swiper-horizontal>.swiper-pagination-bullets,
  .hero .swiper-pagination-bullets.swiper-pagination-horizontal,
  .hero .swiper-pagination-custom,
  .hero .swiper-pagination-fraction {
    bottom: 3.4rem;
  }

  /* catalog */
  .catalog__item-link {
    gap: 2rem;
    padding: 2rem 2rem 3rem;
  }

  .catalog__item-title {
    font-size: 1.6rem;
  }

  .brand__inner {
    gap: 5.4rem;
    padding: 2rem;
  }

  .brand__slider {
    width: calc(100% - 10.8rem - 6rem);
  }

  .brand__slider-item {
    height: 7rem;
  }

  /* card */
  .card {
    padding: 3rem 3rem 2rem;
  }

  .card__fav {
    top: 3rem;
    right: 3rem;
  }

  .card__tags {
    margin-bottom: 1.5rem;
  }

  .card__img {
    height: 17.2rem;
    margin: 4.7rem auto 3.3rem;
  }

  .card__name {
    margin-bottom: 1.5rem;
  }

  .card__price {
    font-size: 1.4rem;
  }

  .card__discount {
    font-size: 1.2rem;
  }

  .card__profit {
    font-size: 1.2rem;
  }

  .card__grid {
    margin-bottom: 1.7rem;
  }

  /* offer */
  .slider__banner-item .block-title {
    font-size: 3rem;
    margin-bottom: 2rem;
  }

  /* trade-in */
  // .trade-in .card__tags {
  //   margin-bottom: 1.5rem;
  // }

  // .trade-in .card__name {
  //   margin-bottom: 1.5rem;
  // }

  .trade-in .card__price {
    margin-bottom: 1.7rem;
  }

  /* programm */
  .programm__inner {
    min-height: 33rem;
  }

  .programm__content {
    justify-content: center;
  }

  .programm__title {
    font-size: 3rem;
  }

  .programm__text {
    font-size: 1.4rem;
    max-width: 54rem;
  }

  .programm__block {
    padding: 3rem;
    min-height: 33rem;
  }

  .programm__block-text {
    font-size: 3rem;
  }

  .programm__block-pic {
    top: 4.4rem;
    height: calc(100% - 4.4rem);
  }

  /* fact */
  .fact__content {
    gap: 1rem 3rem;
    padding: 3rem;
  }

  .fact__content-icon {
    width: 4rem;
    height: 4rem;
    font-size: 2.2rem;
  }

  .fact__content-title {
    font-size: 1.6rem;
    width: calc(60% - 7rem);
  }

  .fact__content-text {
    width: calc(100% - 7rem);
    margin-left: auto;
  }

  .fact__block {
    padding: 3rem;
  }

  .fact__block-text.block-text {
    font-size: 1.6rem;
  }

  .fact__block-btn.btn--yt {
    font-size: 1.75rem;
  }

  .fact__block-btn.btn--yt::before {
    font-size: 1.75rem;
  }

  .fact__block-btn.btn--yt::after {
    font-size: 7rem;
  }

  .block-text {
    font-size: 1.4rem;
  }

  /* service */
  .service__content {
    grid-template-columns: 6rem auto;
  }

  .service__items {
    grid-template-rows: repeat(1, 8rem);
    gap: 2rem;
  }

  /* review */
  .review__item {
    gap: 2rem;
    padding: 3rem 6.3rem 4rem 3rem;
  }

  .review__item-rating {
    padding: 1rem 0 0;
  }

  .review__btn {
    max-width: 36.8rem;
    height: 5rem;
    margin: 2rem auto 0;
  }

  .review__item-date {
    font-size: 1.4rem;
  }

  /* faq */
  .faq__item-title {
    padding: 2rem 3rem;
    font-size: 1.6rem;
  }

  .faq__item.accordion__item>.accordion__item-body {
    padding: 0 12rem 0 3rem;
  }

  .faq__item.accordion__item--active>.accordion__item-body {
    padding: 0 12rem 3.5rem 3rem;
  }

  /* info */
  .info__content {
    padding: 3rem;
  }

  /* contact */
  .contact__inner {
    flex-direction: row;
  }

  .contact__body {
    padding: 3rem;
    gap: 3rem;
    max-width: 49.3rem;
  }

  .contact__content {
    gap: 2rem;
    color: var(--white);
    max-width: 30.2rem;
  }

  .contact__item {
    gap: 1rem;
    font-size: 1.6rem;
  }

  .contact__title {
    font-size: 3rem;
    font-weight: 700;
    color: var(--white);
  }

  .contact__item-title {
    font-weight: 800;
  }

  .contact__item-text {
    font-weight: 400;
    font-size: 1.6rem;
  }

  .contact__item-subtitle {
    font-size: 1.2rem;
    color: var(--white);
  }

  .contact__item-btn {
    display: none;
  }

  .contact__item-link {
    color: var(--primary);
    font-weight: 700;
    font-size: 1.6rem;
  }

  /* info */
  .info__content {
    padding: 3rem 3rem 2rem;
  }

  .info__content-title {
    font-size: 1.6rem;
  }

  .info__content-btn {
    width: 4.7rem;
    height: 4.7rem;
  }

  /* uslugi */
  .uslugi__content {
    padding: 2rem;
  }
}

@media screen and (min-width: 1201px) {
  .card__content {
    grid-template-columns: 1fr auto;
  }

  .card__split {
    grid-column: 1/2;
    grid-row: 4/5;
    margin-bottom: 0;
    font-size: 1.2rem;
  }

  .card__split-item {
    font-size: 1.2rem;
  }

  .card__name {
    font-size: 1.6rem;
    grid-column: 1/3;
  }

  .card__grid {
    grid-column: 1/3;
  }

  .card__btn {
    grid-column: 2/3;
    grid-row: 4/5;
    margin: auto 0 auto auto;
  }
}

@media screen and (min-width: 992px) {

  .nav {
    padding: 1rem 0;
  }

  .menu {
    padding: 4rem;
  }

  .service__content-icon {
    height: 4.4rem;
  }

  .programm__inner {
    flex-direction: row-reverse;
    gap: 2rem;
  }

  .programm__block {
    width: calc(50% - 1rem);
    height: auto;
  }

  .programm__content {
    width: calc(50% - 1rem);
    padding: 4rem 1rem;
    gap: 2rem;
  }

  .fact__items {
    gap: 2rem;
    margin-bottom: 2rem;
  }

  .fact__item {
    width: calc(25% - 1.5rem);
  }

  .fact__blocks {
    gap: 2rem;
  }

  .fact__block {
    width: calc(33.33333% - 1.33333rem);
  }

  .service__items {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 2rem;
    flex-wrap: nowrap;
  }

  .service__item {
    width: auto;
  }

  .uslugi__items {
    gap: 2rem;
  }

  .uslugi__item {
    width: calc(33.33333% - 1.33333rem);
  }

  .uslugi__item:not(:nth-child(1)):not(:nth-child(2)):not(:nth-child(3)):not(:nth-child(4)) {
    display: block;
  }

  .uslugi__btn {
    width: fit-content;
    min-width: 17.9rem;
    height: 4rem;
    margin: 0 auto;
  }
}

@media (max-width: 1440px) and (min-width: 992px) {
  .title {
    font-size: 6rem;
  }

  .hero__slider-item {
    padding: 7.6rem 2rem;
  }

  .catalog__item-link {
    gap: 0.7rem;
    padding: 2rem;
  }

  .programm__block {
    min-height: 24.6rem;
  }

  .programm__block-pic {
    top: 3.3rem;
    right: 3.6rem;
    bottom: 0;
    height: calc(100% - 3.3rem);
  }

  .programm__block-text {
    font-size: 2.4rem;
  }

  .trade-in .card__tags {
    margin-bottom: 1rem;
  }

  .trade-in .card__name {
    margin-bottom: 1rem;
  }

  .card__fav {
    top: 2rem;
    right: 2rem;
  }

  .card__img {
    height: 14rem;
    margin: 0 auto 3rem;
  }

  .card__name {
    font-size: 1.4rem;
  }

  .fact__content {
    gap: 1rem 2rem;
    padding: 2rem;
  }

  .fact__content-icon {
    width: 3rem;
    height: 3rem;
  }

  .fact__content-title {
    font-size: 1.4rem;
  }

  .fact__content-text {
    width: calc(100% - 5rem);
    margin-left: auto;
  }

  .fact__block {
    padding: 2rem;
  }

  .fact__block-text {
    font-size: 1.4rem;
  }

  .service__items {
    grid-template-rows: repeat(1, 7.7rem);
  }

  .faq__item-title {
    padding: 2rem;
  }

  .faq__item.accordion__item>.accordion__item-body {
    padding: 0 10rem 0 2rem;
  }

  .faq__item.accordion__item--active>.accordion__item-body {
    padding: 0 10rem 2.5rem 2rem;
  }

  .contact__inner {
    flex-direction: row;
  }

  .contact__body {
    padding: 2rem;
    gap: 3.4rem;
    max-width: 36.7rem;
  }

  .contact__content {
    gap: 2rem;
    color: var(--white);
    max-width: 30.2rem;
  }

  .contact__item {
    gap: 1rem;
    font-size: 1.4rem;
  }

  .contact__title {
    font-size: 2.4rem;
    font-weight: 700;
    color: var(--white);
  }

  .contact__item-title {
    font-weight: 800;
  }

  .contact__item-text {
    font-weight: 400;
  }

  .contact__item-subtitle {
    font-size: 1rem;
    color: var(--white);
  }

  .contact__item-btn {
    display: none;
  }

  .contact__item-link {
    color: var(--primary);
    font-weight: 700;
  }

  .uslugi__content {
    padding: 1.5rem 2rem;
  }
}

@media (max-width: 1440px) and (min-width: 601px) {

  section {
    margin-bottom: 3rem;
  }

  .btn--resize::after {
    font-size: 4.2rem;
    line-height: 3rem;
  }

  .btn--resize::before {
    font-size: 1.185rem;
  }

  .block-title {
    font-size: 2.4rem;
    line-height: 1.375;
  }

  .tabs__btn {
    max-width: 8.9rem;
    height: 3rem;
    font-size: 1rem;
  }

  /* header */
  .header__top {
    padding: 1.5rem 0;
  }

  .header__logo {
    // width: 7.265rem;
    width: 7.7rem;
    margin-right: 0.5rem;
  }

  .hero__title {
    margin-bottom: 2rem;
  }

  .hero__subtitle {
    font-size: 2.4rem;
    margin-bottom: 3rem;
  }

  .hero .swiper-horizontal>.swiper-pagination-bullets,
  .hero .swiper-pagination-bullets.swiper-pagination-horizontal,
  .hero .swiper-pagination-custom,
  .hero .swiper-pagination-fraction {
    bottom: 2rem;
  }

  .panel {
    height: 3rem;
  }

  .panel__wrap {
    width: 3rem;
    height: 100%;
  }

  .panel__link {
    font-size: 1.5rem;
  }

  .brand__inner {
    gap: 2.8rem;
    padding: 3rem 2rem;
    padding: 1.5rem 1rem;
  }

  .brand__slider {
    width: calc(100% - 5.6rem - 6rem);
  }

  .brand__slider-item {
    height: 5rem;
  }

  /* card */
  .card {
    padding: 3rem 2rem 2rem;
  }

  .programm__block {
    padding: 2rem;
  }

  .programm__title {
    font-size: 2rem;
    line-height: 1.2;
  }

  .programm__content {
    padding: 2rem 5.4rem 3rem;
  }

  /* offer */
  .slider__banner-item .block-title {
    font-size: 2.4rem;
    margin-bottom: 2rem;
  }

  .slider__banner-item {
    padding: 2rem;
  }

  /* fact */
  .fact__block-btn.btn--yt {
    font-size: 1rem;
  }

  .fact__block-btn.btn--yt::before {
    font-size: 1rem;
  }

  .fact__block-btn.btn--yt::after {
    font-size: 4.2rem;
  }

  /* review */
  .review__item {
    gap: 2rem 1rem;
    padding: 2rem 2.9rem 2.6rem 2rem;
  }

  .review__btn {
    max-width: 24.1rem;
    height: 4rem;
    margin: 2rem auto 0;
  }

  .review__item-text {
    -webkit-line-clamp: 7;
  }

  .review__item-date {
    font-size: 1.2rem;
  }

  /* info */
  .info__content-title {
    font-size: 1.4rem;
  }

  .info__content {
    padding: 2rem;
  }
}

@media (max-width: 991px) and (min-width: 601px) {
  .title {
    font-size: 4rem;
  }

  /* header */
  .nav {
    padding: 0.7rem 0;
  }

  .popular__item {
    width: calc(33% - 1.333rem);
  }

  .popular__item:last-child {
    display: none;
  }

  .popular__item-text {
    font-size: 1.4rem;
  }

  .catalog__item-link {
    gap: 0.3rem;
    padding: 2rem 0.5rem 3rem;
  }

  .service__items {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 7.7rem);
  }

  .fact__block {
    padding: 1rem 2rem;
  }

  .fact__item {
    width: calc(25% - 0.75rem);
  }

  .fact__content {
    gap: 1rem 0.9rem;
    padding: 1.5rem 0.5rem 2rem 2rem;
  }

  .programm__block {
    min-height: 10.5rem;
  }


  .programm__block-text {
    font-size: 1.6rem;
  }

  .fact__content-title {
    width: calc(100% - 2.9rem - 1rem);
    word-break: break-word;
  }

  .uslugi__items {
    gap: 1rem;
  }

  .faq__item-title {
    padding: 1.5rem 2rem;
  }

  .faq__item.accordion__item>.accordion__item-body {
    padding: 0 8.5rem 0 2rem;
  }

  .faq__item.accordion__item--active>.accordion__item-body {
    padding: 0 8.5rem 3rem 2rem;
  }

  .contact__body {
    flex-direction: row;
    justify-content: space-between;
    padding: 2rem;
  }

  .contact__content {
    max-width: 50%;
  }
}

@media (max-width: 991px) and (min-width: 769px) {
  .fact__items {
    gap: 1rem;
  }

  .hero__slider-item {
    padding: 3.6rem 2rem 3.5rem;
  }

  .menu {
    padding: 3rem;
  }
}

@media screen and (min-width: 769px) {
  .header__container {
    gap: 1.5rem;
  }

  .header__bottom .header__container {
    padding: 0 1.8rem;
  }

  .hero__slider-item {
    background-image: url(./../images/hero/bg-desktop.webp);
    background-size: 100% 100%;
  }

  .hero__pic {
    top: 50%;
    right: 2rem;
    width: 50%;
  }

  .hero__pic-img {
    width: 71.7%;
  }

  .catalog__items {
    gap: 2rem;
  }
}

@media (max-width: 1440px) and (min-width: 769px) {

  .header__container {
    padding: 0 2rem;
  }

  .container {
    max-width: calc(1140px + 4rem);
  }

  .menu__container {
    max-width: 1140px;
  }

  .btn--business {
    max-width: 9.212%;
  }

  .programm__text {
    max-width: 43rem;
  }
}

@media (max-width: 768px) and (min-width: 601px) {
  .container {
    padding: 0 5rem;
  }

  .header__container {
    padding: 0 5rem;
  }

  .header__bottom .header__container {
    padding: 0 5rem;
  }

  .hero__slider-item {
    padding: 3.6rem 0 3.5rem;
  }

  .hero__pic {
    position: absolute;
    // top: 50%;
    top: 48%;
    // right: 2rem;
    right: 4rem;
    transform: rotate(26.78deg) translateY(-50%);
    width: 50%;
    margin-bottom: 0;
  }

  .hero__pic-img {
    // width: 71.7%;
    width: 82%;
  }

  .catalog__items {
    gap: 1rem;
  }

  .hero__slider-item {
    background-size: 100% auto;
  }

  .menu {
    padding: 3rem 5rem;
  }

  .programm__text {
    max-width: 100%;
  }
}

@media screen and (min-width: 601px) {

  /* libs */
  .hero .swiper-pagination {
    background-color: var(--black-main-60);
    backdrop-filter: blur(4.2px);
    padding: 1.7rem 2.6rem;
  }

  .hero .swiper-pagination-bullet {
    background-color: var(--black-main-60);
  }

  .hero .swiper-pagination-bullet-active {
    background: var(--black-main-60);
  }

  .swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
  .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 1rem;
  }

  .swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet:first-child,
  .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet:first-child {
    margin: 0 1rem 0 0;
  }

  .swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet:last-child,
  .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet:last-child {
    margin: 0 0 0 1rem;
  }

  .swiper-pagination-bullet {
    border-radius: 0.3rem;
    background-clip: unset;
    border: unset;
    box-sizing: border-box;
  }

  .swiper-pagination-bullet-active {
    background-clip: unset;
    border: unset;
    box-sizing: border-box;
  }

  .swiper-horizontal>.swiper-pagination-bullets,
  .swiper-pagination-bullets.swiper-pagination-horizontal,
  .swiper-pagination-custom,
  .swiper-pagination-fraction {
    margin: 1.7rem 0 0;
  }

  /* btn */
  .btn--yt {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .btn--yt::after {
    content: "\e903";
    color: var(--coral);
    font-size: 7rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .btn--yt::before {
    color: var(--white-main);
    font-size: 1.75rem;
    position: relative;
    z-index: 1;
  }

  .btn--resize {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .btn--resize::after {
    content: "\e903";
    color: var(--white-main-30);
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    backdrop-filter: blur(2px);
    border-radius: var(--border-r-8);
  }

  .btn--resize::before {
    color: var(--white-main);
    position: relative;
    z-index: 1;
  }

  .tabs__btns {
    margin-bottom: 2rem;
  }

  /* header */
  // .header__container {
  //   padding: 0 1.8rem;
  // }

  .header__btn {
    display: flex;
  }

  .header__btn-icon {
    font-size: 1.6rem;
  }

  .search__form-icon {
    font-size: 1.2rem;
  }

  .search__form-btn {
    font-size: 1rem;
  }

  .switch__btn {
    display: flex;
  }

  .switch__btn-item {
    font-size: 1.6rem;
  }

  .search__form {
    display: flex;
  }

  .header__panel {
    display: flex;
  }

  /* panel */
  .panel {
    gap: 0.5rem;
    width: fit-content;
    background-color: var(--bg);
    border: unset;
    backdrop-filter: blur(8.5px);
    border-radius: var(--border-r-7);

    position: static;
    right: unset;
    left: unset;
    bottom: unset;
    z-index: unset;

    visibility: visible;
    opacity: 1;
    pointer-events: all;
  }

  .panel__link-text {
    display: none;
  }

  .panel__item:first-child {
    display: none;
  }

  .panel__item {
    order: unset !important;
    height: 100%;
  }

  .panel__link-item {
    top: 0.3rem;
    right: 0.5rem;
    width: 1.2rem;
    height: 1.2rem;
    font-size: 0.6rem;
  }

  .person::after {
    top: 0.3rem;
    right: 0.7rem;
  }

  .burger,
  .loupe {
    display: none;
  }

  .header__geo {
    display: flex;
  }

  .header__phone {
    display: flex;
  }

  .nav__list-link:hover {
    color: var(--primary)
  }

  /* menu */
  .dropdown__content {
    position: absolute;
    top: 0;
    right: 50%;
    bottom: unset;
    transform: translateX(50%);
    // max-width: 1520px;
    width: 100%;
    // max-height: 90vh;
    overflow-y: hidden;
    border-radius: var(--border-r-18);
  }

  .dropdown--opened .dropdown__content {
    height: fit-content;
    top: 6.4rem;
  }

  .menu__inner {
    padding: 0 0 3.6rem;
    margin-bottom: 4rem;
    position: relative;
    border-bottom: 1px solid var(--bg);
  }

  .menu .close,
  .menu__title {
    display: none;
  }

  .menu__items {
    gap: 2.5rem;
  }

  .menu__item {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 4rem;
  }

  .menu__item-title {
    font-size: 1.6rem;
    text-align: left;
  }

  .accordion__list-item {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 4rem;
  }

  .accordion__list-item>.accordion__list-body {
    width: calc(50% - 2rem);

    position: absolute;
    top: 0;
    left: calc(50% + 2rem);
    padding: 0;
  }

  .menu .accordion__list li:not([class]) {
    margin-bottom: 2.5rem;
  }

  .menu .accordion__item-body {
    position: absolute;
    top: 0;
    right: 0;
    width: calc(66% - 4rem);
    background-color: transparent;
  }

  .menu .accordion__item .accordion__item-body {
    padding: 0;
  }

  .menu .accordion__item--active .accordion__item-body {
    padding: 0;
  }

  .menu .accordion__item .accordion__list-link {
    padding: 0;
    color: var(--white-60);
  }

  .menu .accordion__item .accordion__list-link::before {
    display: none;
  }

  .menu .accordion__item .accordion__list-link:hover {
    color: var(--primary);
  }

  .menu .accordion__item .accordion__item-head {
    border-bottom: 0;
  }

  .menu .accordion__list-icon {
    transform: rotate(0);
  }

  .menu .accordion__list-link {
    font-size: 1.6rem;
    line-height: 2.4rem;
  }

  .menu .accordion__list-head {
    flex-direction: row;
    justify-content: space-between;
    max-width: 324px;
  }

  .menu .accordion__list-head--active {
    margin: 0;
  }

  .menu .accordion__item-head {
    font-size: 1.6rem;
    padding: 0;
    border: 0;
    max-width: 324px;
  }

  .menu__wrap:first-child .menu__item::before {
    content: "";
    display: block;
    width: 0.1rem;
    height: calc(100% - 3.6rem);
    background-color: var(--bg);
    position: absolute;
    top: 0;
    bottom: 0;
    right: calc(33.33333% - 2rem);
    // right: 33.33333%;
  }

  .menu__wrap:first-child .menu__item::after {
    content: "";
    display: block;
    width: 0.1rem;
    height: calc(100% - 3.6rem);
    background-color: var(--bg);
    position: absolute;
    top: 0;
    bottom: 0;
    left: calc(33.33333% + 2rem);
    // left: 33.33333%;
  }

  .menu .accordion__item-icon {
    transform: rotate(0deg);
  }

  .menu .tabs__btn--active,
  .menu .accordion__item-head--active {
    color: var(--primary);
  }

  .menu .accordion__list-item:not(:last-child) {
    margin-bottom: 2.5rem;
  }

  .menu .tabs__btn {
    border-top: 0;
    border-bottom: 0;
    border-right: 0;
    border-left: 0;
  }

  // .tabs__btn--active+.accordion__item-body {
  //   grid-template-rows: 1fr;
  // }

  /* popular */
  .popular__inner {
    display: block;
  }

  /* hero */
  .hero__slider-item {
    // background-image: url(./../images/hero/bg-desktop.webp);
    // padding: 7.6rem 1.8rem 8.9rem;
    flex-direction: row;
    gap: unset;
  }

  .hero__content {
    align-items: flex-start;
    width: 50%;
    text-align: left;
  }

  .hero__title {
    text-transform: lowercase;
    margin-bottom: 2rem;
  }

  .hero__subtitle {
    width: min-content;
    color: var(--white);
    white-space: normal;
  }

  .hero__pic {
    position: absolute;
    transform: rotate(26.78deg) translateY(-50%);
    margin-bottom: 0;
  }

  /* catalog */
  .catalog__item-body {
    // display: none;
  }

  .catalog__items {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
  }

  .catalog__item-link {
    flex-direction: column;
  }

  .catalog__item-link .icon-chevron-right-wide {
    display: none;
  }

  .catalog__item-img {
    // height: clamp(5rem, 6vw, 9.8rem);
    height: 7.3rem;
  }

  .brand__inner {
    display: flex;
  }

  .offer__inner {
    margin-bottom: 2rem;
  }

  .slider__banner-btn {
    white-space: nowrap;
    height: 4rem;
  }

  /* programm */
  .programm__content {
    gap: 2rem;
  }

  .programm__block {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .programm__block-text {
    order: -1;
    width: 100%;
  }

  .programm__block-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 7rem;
    height: 5rem;
    margin: 0 auto;
    color: var(--white-main);
  }

  .programm__block-icon {
    display: none;
  }

  .fact__blocks {
    flex-direction: row;
  }

  .fact__block {
    justify-content: flex-start;
    align-items: flex-end;
    width: calc(33.33333% - 0.66666rem);
    height: auto;
    aspect-ratio: 208/139;
  }

  .fact__block-btn:hover {
    transform: translate(-50%, -50%) scale(1.3);
  }

  /* service */
  .service__content-title {
    font-size: 1.4rem;
  }

  /* uslugi */
  .uslugi__btn {
    height: 4rem;
    font-size: 1.2rem;
  }

  /* review */
  .review__item-rating {
    gap: 1rem;
  }

  .review__item-rating i {
    font-size: 1.4rem;
  }

  /* faq */
  .faq__items {
    gap: 1rem;
  }

  .info__content-title {
    margin-bottom: 2.5rem;
  }

  .info__content-tags a {
    font-size: 1.4rem;
  }

  .info__content-date {
    margin-bottom: 1.5rem;
  }

  /* contact */
  .contact__map {
    display: block;
  }

  /* footer */
  .footer {
    padding: 3rem 0 2.4rem;
  }

  .footer__bottom {
    flex-direction: row;
  }

  .footer__bottom-text {
    text-align: left;
  }

  .footer__pay {
    gap: 2.1rem;
  }

  .footer__pay-item {
    height: 5.1rem;
  }
}

@media (max-width: 1440px) {}

@media (max-width: 991px) {}

@media (max-width: 768px) {}

@media (max-width: 680px) {}

@media (max-width: 600px) {}

@media (max-width: 480px) {}

@media (max-width: 360px) {}