:root {
    /* color */
    --primary-white: #EBEBF5;
    --primary-white-30: #ebebf54d;
    --primary-white-50: #ebebf580;
    --primary-white-60: #ebebf599;
    --primary-white-sec: #D9D9D9;
    --primary-black: #101010;
    --primary-black-10: rgba(16, 16, 16, 0.1);
    --primary-black-40: rgba(16, 16, 16, 0.4);
    --primary-blue: #005BFF;
    --primary-blue-hover: #014CD5;
    --primary-bg: #F4F4F4;
    --primary-color: #A61C59;
    --primary-grey: #878787;
    --primary-purple: #69339C;
    --primary-orange: #D93128;
    --primary-sea: #00B0BD;
    --primary-green: #35E264;
    --primary-yellow: #FCC5A1;

    --white: #ffffff;
    --white-50: #ffffff80;
    --border-c: #272729;
    --border-c-40: #27272966;


    /* border-radius */
    --b-radius-4: 0.4rem;
    --b-radius-5: 0.5rem;
    --b-radius-6: 0.6rem;
    --b-radius-7: 0.7rem;
    --b-radius-8: 0.8rem;
    --b-radius-18: 1.3rem;
}