:root {
    /* color */
    --primary: #A61C59;
    --primary-90: #A61C5990;
    --white: #EBEBF5;
    --white-30: #EBEBF530;
    --white-50: #EBEBF550;
    --white-60: #EBEBF599;
    --white-main: #ffffff;
    --white-main-05: #ffffff05;
    --white-main-30: #ffffff30;
    --white-main-60: #ffffff60;
    --white-sec: #ECEDEF;
    --white-thrd: #F5F5F5;
    --black: #1C1C1E;
    --black-main: #000000;
    --black-main-30: #00000030;
    --black-main-60: #00000060;
    --blue: #005BFF;
    --blue-90: #005BFF90;
    --sea: #23aab1;
    --coral: #FF4433;
    --bg: #2C2C2E;
    --grey: #666666;
    --green: #29B24A;
    --green-sec: #35E264;
    --yellow: #FFC107;
    --border-c: #272729;
    --border-c-20: #9f9fa520;

    /* border-radius */
    --border-r-4: 0.4rem;
    --border-r-5: 0.5rem;
    --border-r-6: 0.6rem;
    --border-r-7: 0.7rem;
    --border-r-8: 0.8rem;
    --border-r-13: 1.3rem;
    --border-r-18: 1.8rem;
}