:root {
    /* color */
    --primary: #A61C59;
    --primary-90: #a61c59e6;
    --white: #EBEBF5;
    --white-30: #ebebf54d;
    --white-50: #ebebf580;
    --white-60: #EBEBF599;
    --white-main: #ffffff;
    --white-main-05: #ffffff0d;
    --white-main-15: #ffffff26;
    --white-main-30: #ffffff4d;
    --white-main-60: #ffffff99;
    --white-sec: #ECEDEF;
    --white-thrd: #F5F5F5;
    --black: #1C1C1E;
    --black-main: #000000;
    --black-main-10: #0000001a;
    --black-main-30: #0000004d;
    --black-main-60: #00000099;
    --blue: #005BFF;
    --blue-90: #005BFF90;
    // --blue-90: #005bffe6;
    --sea: #23aab1;
    --coral: #FF4433;
    --bg: #2C2C2E;
    --grey: #666666;
    --green: #29B24A;
    --green-sec: #35E264;
    --yellow: #FFC107;
    --border-c: #272729;
    --border-c-20: #9f9fa520;

    /* border-radius */
    --border-r-4: 0.4rem;
    --border-r-5: 0.5rem;
    --border-r-6: 0.6rem;
    --border-r-7: 0.7rem;
    --border-r-8: 0.8rem;
    --border-r-13: 1.3rem;
    --border-r-18: 1.8rem;
}