.footer {
  padding: 3rem 0 2.4rem;
  background-color: var(--bg);

  &__bottom {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.4rem 3rem;

    &-wrap {
      display: flex;
      flex-direction: column;
      gap: 1.4rem;
    }

    &-text {
      font-weight: 400;
      font-size: 1rem;
      line-height: 1.4;
      color: var(--white-50);
      max-width: 40rem;
      text-align: center;
    }
  }

  &__pay {
    display: flex;
    align-items: center;
    gap: 1rem;

    &-item {
      width: fit-content;
      height: 3.7rem;
      flex-shrink: 0;
    }

    &-img {
      width: auto;
      height: 100%;
      object-fit: cover;
    }
  }
}