<div class="menu__wrap">
  <div class="menu__item accordion__item">
    <div class="accordion__item-btn tabs__btn" data-tab="popular-2">
      <img class="menu__item-img" src="./images/icons/icon-game.svg" alt="">
      <h6 class="menu__item-title">
        Игры и развлечения
      </h6>
      <i class="accordion__item-icon icon-chevron-right-wide"></i>
    </div>
    <div class="accordion__item-body">
      <div class="accordion__item-content">

        <ul class="accordion__list">
          <li class="accordion__list-item">
            <div class="accordion__list-btn">
              Sony PlayStation 5
              <i class="accordion__list-icon icon-chevron-right-wide"></i>
            </div>
            <div class="accordion__item-body">
              <div class="accordion__item-content">
                <ul>
                  <li>
                    <a class="accordion__list-link" href="">
                      Sony PlayStation 5
                    </a>
                  </li>
                  <li>
                    <a class="accordion__list-link" href="">
                      Игры для Sony PlayStation 5
                    </a>
                  </li>
                  <li>
                    <a class="accordion__list-link" href="">
                      Аксессуары для PlayStation 5
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </li>
          <li class="accordion__list-item">
            <div class="accordion__list-btn">
              Microsoft Xbox
              <i class="accordion__list-icon icon-chevron-right-wide"></i>
            </div>
            <div class="accordion__item-body">
              <div class="accordion__item-content">
                <ul>
                  <li>
                    <a class="accordion__list-link" href="">
                      Xbox Series S
                    </a>
                  </li>
                  <li>
                    <a class="accordion__list-link" href="">
                      Xbox Series X
                    </a>
                  </li>
                  <li>
                    <a class="accordion__list-link" href="">
                      Игры для Xbox
                    </a>
                  </li>
                  <li>
                    <a class="accordion__list-link" href="">
                      Аксессуары для Xbox
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </li>
          <li class="accordion__list-item">
            <div class="accordion__list-btn">
              Nintendo Switch
              <i class="accordion__list-icon icon-chevron-right-wide"></i>
            </div>
            <div class="accordion__item-body">
              <div class="accordion__item-content">
                <ul>
                  <li>
                    <a class="accordion__list-link" href="">
                      Switch
                    </a>
                  </li>
                  <li>
                    <a class="accordion__list-link" href="">
                      Switch 2
                    </a>
                  </li>
                  <li>
                    <a class="accordion__list-link" href="">
                      Switch Lite
                    </a>
                  </li>
                  <li>
                    <a class="accordion__list-link" href="">
                      Аксессуары для Nintendo Switch
                    </a>
                  </li>
                  <li>
                    <a class="accordion__list-link" href="">
                      Игры для Nintendo Switch
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </li>
          <li class="accordion__list-item">
            <div class="accordion__list-btn">
              Valve Steamdeck
              <i class="accordion__list-icon icon-chevron-right-wide"></i>
            </div>
            <div class="accordion__item-body">
              <div class="accordion__item-content">
                <ul>
                  <li>
                    <a class="accordion__list-link" href="">
                      Steamdeck
                    </a>
                  </li>
                  <li>
                    <a class="accordion__list-link" href="">
                      Steamdeck OLED
                    </a>
                  </li>
                  <li>
                    <a class="accordion__list-link" href="">
                      Аксессуары для Steamdeck
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </li>
        </ul>

      </div>
    </div>
  </div>
</div>