<!-- Подвал сайта -->
<footer class="footer">
  <div class="container">
    <div class="footer__inner">
      <div class="footer__menu">

      </div>
      <div class="footer__bottom">
        <!-- Информация -->
        <div class="footer__bottom-wrap">
          <div class="footer__bottom-text">
            ИП Сергиенко Владислав Валерьевич, ИНН 540551350770, Россия, Новосибирская область, г.Новосибирск, ул.
            Советская, 12
          </div>
          <div class="footer__bottom-text">
            Сайт носит сугубо информационный характер и не является публичной офертой, определенной статьей 437 (2) ГК
            РФ
          </div>
        </div>
        <!-- Способы оплаты -->
        <div class="footer__pay">
          <div class="footer__pay-item">
            <img class="footer__pay-img" src="./images/pay/mastercard.svg" alt="">
          </div>
          <div class="footer__pay-item">
            <img class="footer__pay-img" src="./images/pay/mir.svg" alt="">
          </div>
          <div class="footer__pay-item">
            <img class="footer__pay-img" src="./images/pay/visa.svg" alt="">
          </div>
          <div class="footer__pay-item">
            <img class="footer__pay-img" src="./images/pay/yukassa.svg" alt="">
          </div>
          <div class="footer__pay-item">
            <img class="footer__pay-img" src="./images/pay/sber.svg" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
</div>

<!--=include modal.html-->

<!-- scipts -->
<script src="./app.js"></script>
<script src="./sw.js"></script>
<script src="./libs/swiper/swiper-bundle.min.js" defer></script>
<script src="./libs/jquery3.7.1.min.js"></script>
<script src="./js/main.js" defer></script>
</body>

</html>