<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Important meta tags -->
  <meta name="robots" content="noindex, nofollow" />
  <meta name="format-detection" content="telephone=no" />
  <meta name="format-detection" content="date=no">
  <meta name="format-detection" content="address=no">
  <meta name="format-detection" content="email=no">
  <link rel="manifest" href="./js/manifest.json">
  <!-- title -->
  <title>WA</title>
  <!-- styles -->
  <link rel="stylesheet" href="libs/swiper/swiper-bundle.min.css">
  <link rel="stylesheet" href="css/icomoon-style.css">
  <link rel="stylesheet" href="css/style.css">
</head>

<body>
  <div class="wrapper dropdown">
    <!-- Шапка сайта -->
    <header class="header">
      <div class="header__top">
        <div class="container header__container">
          <!-- Кнопка вызова поисковика -->
          <button class="loupe btn btn--icon">
            <i class="icon-loupe"></i>
          </button>
          <!-- Логотип с ссылкой на главную страницу -->
          <a class="header__logo" href="/">
            <img class="header__logo-img" src="images/logo/logo-white.svg" alt="">
          </a>
          <!-- Геопозиция -->
          <div class="header__geo">
            <a class="header__geo-link" href="#!">
              <img class="header__geo-img" src="images/icons/geo.svg" alt="">
              Новосибирск
              <i class="header__geo-icon icon-chevron-right"></i>
            </a>
          </div>
          <!-- Форма поиска -->
          <form id="modal-search" class="search__form" action="">
            <input class="search__form-input input" type="text" placeholder="Интеллектуальный поиск">
            <i class="search__form-icon icon-shine"></i>
            <button class="search__form-btn">
              <i class="icon-loupe"></i>
            </button>
          </form>
          <!-- Смена темы -->
          <button class="switch__btn">
            <span class="switch__btn-item light-mode">
              <i class="icon-sun"></i>
            </span>
            <span class="switch__btn-circle"></span>
            <span class="switch__btn-item dark-mode">
              <i class="icon-moon"></i>
            </span>
          </button>
          <!-- Панель для дэкстопа и моб. версии -->
          <div class="panel panel--active">
            <div class="panel__items">
              <div class="panel__item">
                <div class="panel__wrap">
                  <a class="panel__link dropdown__trigger" href="#!">
                    <i class="icon-catalogs"></i>
                    <span class="panel__link-text">Каталог</span>
                  </a>
                </div>
              </div>
              <div class="panel__item">
                <div class="panel__wrap">
                  <a class="panel__link" href="#!">
                    <i class="icon-connection"></i>
                    <span class="panel__link-text">Связаться</span>
                  </a>
                </div>
              </div>
              <div class="panel__item favorite">
                <div class="panel__wrap">
                  <a class="panel__link" href="#!">
                    <i class="icon-favorite"></i>
                    <span class="panel__link-item">20</span>
                    <span class="panel__link-text">Избранное</span>
                  </a>
                </div>
              </div>
              <div class="panel__item basket">
                <div class="panel__wrap">
                  <a class="panel__link" href="#!">
                    <i class="icon-basket"></i>
                    <span class="panel__link-item">143</span>
                    <span class="panel__link-text">Корзина</span>
                  </a>
                </div>
              </div>
            </div>
            <div class="panel__item person">
              <div class="panel__wrap">
                <a class="panel__link modal__btn" href="#!" data-id="modal-reg">
                  <div class="panel__link-wrap">
                    <i class="icon-person"></i>
                    <img class="panel__link-img" src="./images/avatar.png" alt="">
                  </div>
                  <span class="panel__link-item"></span>
                  <span class="panel__link-text">войти</span>
                </a>
              </div>
            </div>
          </div>
          <!-- Кнопка бургер -->
          <button class="burger">
          </button>
        </div>
      </div>
      <div class="header__bottom">
        <div class="container header__container">
          <!-- Кнопка каталога -->
          <button class="header__catalog btn btn--red dropdown__trigger">
            Каталог
            <i class="header__btn-icon icon-chevron-right"></i>
          </button>
          <!-- Навигация по сайту -->
          <nav class="nav">
            <ul class="nav__list">
              <li class="nav__list-item">
                <a class="nav__list-link" href="/">
                  iPhone
                </a>
              </li>
              <li class="nav__list-item">
                <a class="nav__list-link" href="/">
                  Watch
                </a>
              </li>
              <li class="nav__list-item">
                <a class="nav__list-link" href="/">
                  AirPods
                </a>
              </li>
              <li class="nav__list-item">
                <a class="nav__list-link" href="/">
                  iPad
                </a>
              </li>
              <li class="nav__list-item">
                <a class="nav__list-link" href="/">
                  Mac
                </a>
              </li>
              <li class="nav__list-item">
                <a class="nav__list-link" href="/">
                  Vision
                </a>
              </li>
              <li class="nav__list-item">
                <a class="nav__list-link" href="/">
                  Гаджеты
                </a>
              </li>
              <li class="nav__list-item">
                <a class="nav__list-link" href="/">
                  Ремонт
                </a>
              </li>
              <li class="nav__list-item">
                <a class="nav__list-link" href="/">
                  Trade-in
                </a>
              </li>
              <li class="nav__list-item">
                <a class="nav__list-link" href="/">
                  Для бизнеса
                </a>
              </li>
              <li class="nav__list-item">
                <a class="nav__list-link" href="/">
                  Гарантия
                </a>
              </li>
              <li class="nav__list-item">
                <a class="nav__list-link" href="/">
                  Блог
                </a>
              </li>
              <li class="nav__list-item">
                <a class="nav__list-link" href="/">
                  Привилегия
                </a>
              </li>
              <li class="nav__list-item">
                <a class="nav__list-link" href="/">
                  Контакты
                </a>
              </li>
            </ul>
          </nav>
          <!-- Кнопка телефона -->
          <!-- <div class="header__phone hidden">
            <a class="header__phone-link" href="tel:+73832052355">
              <i class="header__phone-icon icon-phone"></i>
              8 (383) 205 23 55
            </a>
          </div> -->
        </div>
      </div>
      <!--=include popup.html-->
    </header>