<!-- Модальные окна -->
<div class="modals">
  <!-- Галерея попап -->
  <div class="modal gallery" id="modal-gallery">
    <div class="modal__box">
      <button class="modal__close-btn close">
      </button>
      <div class="modal__slider modal__slider-init">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="swiper-zoom-container">
              <div class="modal__item">
                <img class="modal__item-img"
                  src="./images/tmp/close-up-green-leaf-with-fresh-water-droplets-generative-ai.jpg" alt="">
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="swiper-zoom-container">
              <div class="modal__item">
                <img class="modal__item-img" src="./images/tmp/vestrahorn-mountains-sunset-stokksnes-iceland.jpg"
                  alt="">
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="swiper-zoom-container">
              <div class="modal__item">
                <img class="modal__item-img"
                  src="./images/tmp/close-up-green-leaf-with-fresh-water-droplets-generative-ai.jpg" alt="">
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="swiper-zoom-container">
              <div class="modal__item">
                <img class="modal__item-img" src="./images/tmp/vestrahorn-mountains-sunset-stokksnes-iceland.jpg"
                  alt="">
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="swiper-zoom-container">
              <div class="modal__item">
                <img class="modal__item-img"
                  src="./images/tmp/close-up-green-leaf-with-fresh-water-droplets-generative-ai.jpg" alt="">
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="swiper-zoom-container">
              <div class="modal__item">
                <img class="modal__item-img" src="./images/tmp/vestrahorn-mountains-sunset-stokksnes-iceland.jpg"
                  alt="">
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-pagination"></div>
      </div>
    </div>
  </div>
  <!-- Видео попап -->
  <div class="modal" id="modal-video">
    <div class="modal__box">
      <button class="modal__close-btn close">
      </button>
      <div class="video">
        <video class="video__item" src="./videos/video.mp4" controls></video>
      </div>
    </div>
  </div>
  <!-- Фильм попап -->
  <div class="modal" id="modal-movie">
    <div class="modal__box">
      <button class="modal__close-btn close">
      </button>
      <div class="video">
        <iframe class="modal__iframe" src="https://vk.com/video_ext.php?oid=-170242143&id=456242112&hd=3&autoplay=1"
          allow="autoplay; encrypted-media; fullscreen; picture-in-picture; screen-wake-lock;" frameborder="0"
          allowfullscreen></iframe>
      </div>
    </div>
  </div>
  <!-- Видео попап -->
  <div class="modal" id="modal-4">
    <div class="modal__box">
      <button class="modal__close-btn close">
      </button>
      <img class="modal__video" src="https://fakeimg.pl/1200x800" alt="">
    </div>
  </div>
</div>