<!-- Модальные окна -->
<div class="modals">
  <!-- Галерея попап -->
  <div class="modal gallery" id="modal-gallery">
    <div class="modal__box">
      <button class="modal__close-btn close">
      </button>
      <div class="modal__slider modal__slider-init">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="swiper-zoom-container">
              <div class="modal__item">
                <img class="modal__item-img"
                  src="./images/tmp/close-up-green-leaf-with-fresh-water-droplets-generative-ai.jpg" alt="">
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="swiper-zoom-container">
              <div class="modal__item">
                <img class="modal__item-img" src="./images/tmp/vestrahorn-mountains-sunset-stokksnes-iceland.jpg"
                  alt="">
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="swiper-zoom-container">
              <div class="modal__item">
                <img class="modal__item-img"
                  src="./images/tmp/close-up-green-leaf-with-fresh-water-droplets-generative-ai.jpg" alt="">
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="swiper-zoom-container">
              <div class="modal__item">
                <img class="modal__item-img" src="./images/tmp/vestrahorn-mountains-sunset-stokksnes-iceland.jpg"
                  alt="">
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="swiper-zoom-container">
              <div class="modal__item">
                <img class="modal__item-img"
                  src="./images/tmp/close-up-green-leaf-with-fresh-water-droplets-generative-ai.jpg" alt="">
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="swiper-zoom-container">
              <div class="modal__item">
                <img class="modal__item-img" src="./images/tmp/vestrahorn-mountains-sunset-stokksnes-iceland.jpg"
                  alt="">
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-pagination"></div>
      </div>
    </div>
  </div>
  <!-- Видео попап -->
  <div class="modal" id="modal-video">
    <div class="modal__box">
      <button class="modal__close-btn close">
      </button>
      <div class="video">
        <video class="video__item" src="./videos/video.mp4" controls></video>
      </div>
    </div>
  </div>
  <!-- Фильм попап -->
  <div class="modal" id="modal-movie">
    <div class="modal__box">
      <button class="modal__close-btn close">
      </button>
      <div class="video">
        <iframe class="modal__iframe" src="https://vk.com/video_ext.php?oid=-170242143&id=456242112&hd=3&autoplay=1"
          allow="autoplay; encrypted-media; fullscreen; picture-in-picture; screen-wake-lock;" frameborder="0"
          allowfullscreen></iframe>
      </div>
    </div>
  </div>
  <!-- Видео попап -->
  <div class="modal" id="modal-4">
    <div class="modal__box">
      <button class="modal__close-btn close">
      </button>
      <img class="modal__video" src="https://fakeimg.pl/1200x800" alt="">
    </div>
  </div>
  <!-- Регистрация попап -->
  <div class="modal reg" id="modal-reg">
    <div class="modal__box">
      <button class="modal__close-btn close">
      </button>
      <div class="modal__content">
        <h2 class="modal__title">
          вход или регистрация
        </h2>
        <input class="input reg__input" type="text" placeholder="Телефон или почта">
        <a class="reg__btn modal__btn" href="#!" data-id="modal-code">
          Получить код
        </a>
        <a class="reg__link yandex" href="/">
          <img class="reg__link-logo" src="./images/tmp/yandex.svg" alt="">
          <span class="reg__link-text">
            Войти с Яндекс ID
          </span>
          <img class="reg__link-avatar" src="./images/tmp/avatar.svg" alt="">
        </a>
        <a class="reg__link vk" href="/">
          <img class="reg__link-logo" src="./images/tmp/vk.svg" alt="">
          <span class="reg__link-text">
            Войти через VK ID
          </span>
          <img class="reg__link-avatar" src="./images/tmp/avatar.svg" alt="">
        </a>
        <p class="reg__text">
          Нажимая кнопку «Получить код», вы соглашаетесь с <a href="/">политикой конфиденциальности и условиями
            оферты</a>
        </p>
      </div>
    </div>
  </div>
  <!-- Код попап -->
  <div class="modal code" id="modal-code">
    <div class="modal__box">
      <button class="modal__close-btn close">
      </button>
      <div class="modal__content code__content">
        <h2 class="modal__title">
          вход или регистрация
        </h2>
        <p class="code__subtitle">
          Мы отправили код подтверждения на номер <span>+7(***) ***-12-45</span> <a href="/">изменить</a>
        </p>
        <div class="code__inputs">
          <input class="code__input" type="text">
          <input class="code__input" type="text">
          <input class="code__input" type="text">
          <input class="code__input" type="text">
        </div>
        <p class="code__text">
          Проверка данных...
        </p>
        <a class="code__link" href="/">
          Отправить код на электронную почту
        </a>
      </div>
    </div>
  </div>
</div>