<div class="panel">
  <div class="panel__item">
    <div class="panel__wrap">
      <a class="panel__link icon-catalogs" href="#!">
        <span>Каталог</span>
      </a>
    </div>
  </div>
  <div class="panel__item">
    <div class="panel__wrap">
      <a class="panel__link icon-basket" href="#!">
        <span>Корзина</span>
      </a>
    </div>
  </div>
  <div class="panel__item">
    <div class="panel__wrap">
      <a class="panel__link icon-favorite" href="#!">
        <span>Избранное</span>
      </a>
    </div>
  </div>
  <div class="panel__item">
    <div class="panel__wrap">
      <a class="panel__link icon-person" href="#!">
        <span>Войти</span>
      </a>
    </div>
  </div>
  <div class="panel__item">
    <div class="panel__wrap">
      <a class="panel__link icon-connection" href="#!">
        <span>Связаться</span>
      </a>
    </div>
  </div>
</div>