<!-- Каталог товаров -->
<div class="menu container menu__container tabs dropdown__content">
  <div class="menu__inner">
    <h2 class="menu__title block-title">
      Каталог товаров
    </h2>
    <span class="close dropdown__close"></span>

    <div class="menu__items tabs__btns">

      <div class="menu__wrap">
        <div class="menu__item accordion__item">
          <div class="accordion__item-head tabs__btn" data-tab="popular-1">
            <img class="menu__item-img" src="./../images/icons/icon-apple.svg" alt="">
            <h6 class="menu__item-title">
              Apple
            </h6>
            <i class="accordion__item-icon icon-chevron-right-wide"></i>
          </div>
          <div class="accordion__item-body">
            <div class="accordion__item-content">

              <ul class="accordion__list">
                <li>
                  <a class="accordion__list-link" href="/">
                    iPhone
                  </a>
                </li>
                <li>
                  <a class="accordion__list-link" href="/">
                    iPad
                  </a>
                </li>
                <li>
                  <a class="accordion__list-link" href="/">
                    Mac
                  </a>
                </li>
                <li>
                  <a class="accordion__list-link" href="/">
                    AirPods
                  </a>
                </li>
                <li>
                  <a class="accordion__list-link" href="/">
                    Watch
                  </a>
                </li>
                <li>
                  <a class="accordion__list-link" href="/">
                    TV
                  </a>
                </li>
                <li>
                  <a class="accordion__list-link" href="/">
                    Vision
                  </a>
                </li>
                <li>
                  <a class="accordion__list-link" href="/">
                    Аксессуары
                  </a>
                </li>
              </ul>

            </div>
          </div>
        </div>
      </div>
      <div class="menu__wrap">
        <div class="menu__item accordion__item">
          <div class="accordion__item-head tabs__btn" data-tab="popular-2">
            <img class="menu__item-img" src="./../images/icons/icon-game.svg" alt="">
            <h6 class="menu__item-title">
              Игры и развлечения
            </h6>
            <i class="accordion__item-icon icon-chevron-right-wide"></i>
          </div>
          <div class="accordion__item-body">
            <div class="accordion__item-content">

              <ul class="accordion__list">
                <li class="accordion__list-item">
                  <div class="accordion__list-head">
                    Sony PlayStation 5
                    <i class="accordion__list-icon icon-chevron-right-wide"></i>
                  </div>
                  <div class="accordion__list-body">
                    <div class="accordion__list-content">
                      <ul>
                        <li>
                          <a class="accordion__list-link" href="/">
                            Sony PlayStation 5
                          </a>
                        </li>
                        <li>
                          <a class="accordion__list-link" href="/">
                            Игры для PlayStation 5
                          </a>
                        </li>
                        <li>
                          <a class="accordion__list-link" href="/">
                            Аксессуары дял PlayStation 5
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </li>
                <li class="accordion__list-item">
                  <div class="accordion__list-head">
                    Microsoft Xbox
                    <i class="accordion__list-icon icon-chevron-right-wide"></i>
                  </div>
                  <div class="accordion__list-body">
                    <div class="accordion__list-content">
                      <ul>
                        <li>
                          <a class="accordion__list-link" href="/">
                            Xbox Series S
                          </a>
                        </li>
                        <li>
                          <a class="accordion__list-link" href="/">
                            Xbox Series X
                          </a>
                        </li>
                        <li>
                          <a class="accordion__list-link" href="/">
                            Игры для Xbox
                          </a>
                        </li>
                        <li>
                          <a class="accordion__list-link" href="/">
                            Аксессуары для Xbox
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </li>
                <li class="accordion__list-item">
                  <div class="accordion__list-head">
                    Nintendo Switch
                    <i class="accordion__list-icon icon-chevron-right-wide"></i>
                  </div>
                  <div class="accordion__list-body">
                    <div class="accordion__list-content">
                      <ul>
                        <li>
                          <a class="accordion__list-link" href="/">
                            Switch
                          </a>
                        </li>
                        <li>
                          <a class="accordion__list-link" href="/">
                            Switch 2
                          </a>
                        </li>
                        <li>
                          <a class="accordion__list-link" href="/">
                            Switch Lite
                          </a>
                        </li>
                        <li>
                          <a class="accordion__list-link" href="/">
                            Аксессуары для Nintendo Switch
                          </a>
                        </li>
                        <li>
                          <a class="accordion__list-link" href="/">
                            Игры для Nintendo Switch
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </li>
                <li class="accordion__list-item">
                  <div class="accordion__list-head">
                    Valve Steamdeck
                    <i class="accordion__list-icon icon-chevron-right-wide"></i>
                  </div>
                  <div class="accordion__list-body">
                    <div class="accordion__list-content">
                      <ul>
                        <li>
                          <a class="accordion__list-link" href="/">
                            Steamdeck
                          </a>
                        </li>
                        <li>
                          <a class="accordion__list-link" href="/">
                            Steamdeck OLED
                          </a>
                        </li>
                        <li>
                          <a class="accordion__list-link" href="/">
                            Аксессуары для Steamdeck
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </li>
              </ul>

            </div>
          </div>
        </div>
      </div>
      <div class="menu__wrap">
        <div class="menu__item accordion__item">
          <div class="accordion__item-head tabs__btn" data-tab="popular-3">
            <img class="menu__item-img" src="./../images/icons/icon-home.svg" alt="">
            <h6 class="menu__item-title">
              Дом и красота
            </h6>
            <i class="accordion__item-icon icon-chevron-right-wide"></i>
          </div>
          <div class="accordion__item-body">
            <div class="accordion__item-content">

              <ul class="accordion__list">
                <li class="accordion__list-item">
                  <div class="accordion__list-head">
                    Dyson
                    <i class="accordion__list-icon icon-chevron-right-wide"></i>
                  </div>
                  <div class="accordion__list-body">
                    <div class="accordion__list-content">
                      <ul>
                        <li>
                          <a class="accordion__list-link" href="/">
                            Стайлер
                          </a>
                        </li>
                        <li>
                          <a class="accordion__list-link" href="/">
                            Фены
                          </a>
                        </li>
                        <li>
                          <a class="accordion__list-link" href="/">
                            Пылесосы
                          </a>
                        </li>
                        <li>
                          <a class="accordion__list-link" href="/">
                            Щипцы
                          </a>
                        </li>
                        <li>
                          <a class="accordion__list-link" href="/">
                            Аксессуары
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </li>
                <li class="accordion__list-item">
                  <div class="accordion__list-head">
                    Dreame
                    <i class="accordion__list-icon icon-chevron-right-wide"></i>
                  </div>
                  <div class="accordion__list-body">
                    <div class="accordion__list-content">
                      <ul>
                        <li>
                          <a class="accordion__list-link" href="/">
                            Роботы-пылесосы
                          </a>
                        </li>
                        <li>
                          <a class="accordion__list-link" href="/">
                            Пылесосы
                          </a>
                        </li>
                        <li>
                          <a class="accordion__list-link" href="/">
                            Аксессуары
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </li>
              </ul>

            </div>
          </div>
        </div>
      </div>
      <div class="menu__wrap">
        <div class="menu__item accordion__item">
          <div class="accordion__item-head tabs__btn" data-tab="popular-4">
            <img class="menu__item-img" src="./../images/icons/icon-photo.svg" alt="">
            <h6 class="menu__item-title">
              Фото и видеосъемка
            </h6>
            <i class="accordion__item-icon icon-chevron-right-wide"></i>
          </div>
          <div class="accordion__item-body">
            <div class="accordion__item-content">

              <ul class="accordion__list">
                <li class="accordion__list-item">
                  <div class="accordion__list-head">
                    DJI
                    <i class="accordion__list-icon icon-chevron-right-wide"></i>
                  </div>
                  <div class="accordion__list-body">
                    <div class="accordion__list-content">
                      <ul>
                        <li>
                          <a class="accordion__list-link" href="/">
                            Дроны
                          </a>
                        </li>
                        <li>
                          <a class="accordion__list-link" href="/">
                            Камеры
                          </a>
                        </li>
                        <li>
                          <a class="accordion__list-link" href="/">
                            Стабилизаторы
                          </a>
                        </li>
                        <li>
                          <a class="accordion__list-link" href="/">
                            Аксессуары
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </li>
                <li class="accordion__list-item">
                  <a class="accordion__list-link">
                    GoPro
                  </a>
                </li>
                <li class="accordion__list-item">
                  <div class="accordion__list-head">
                    GoPro
                    <i class="accordion__list-icon icon-chevron-right-wide"></i>
                  </div>
                  <div class="accordion__list-body">
                    <div class="accordion__list-content">
                      <ul>
                        <li>
                          <a class="accordion__list-link" href="/">
                            Экшн камеры
                          </a>
                        </li>
                        <li>
                          <a class="accordion__list-link" href="/">
                            Аксессуары
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </li>
              </ul>

            </div>
          </div>
        </div>
      </div>
      <div class="menu__wrap">
        <div class="menu__item accordion__item">
          <div class="accordion__item-head tabs__btn" data-tab="popular-5">
            <img class="menu__item-img" src="./../images/icons/icon-acoustic.svg" alt="">
            <h6 class="menu__item-title">
              Акустика
            </h6>
            <i class="accordion__item-icon icon-chevron-right-wide"></i>
          </div>
          <div class="accordion__item-body">
            <div class="accordion__item-content">

              <ul class="accordion__list">
                <li>
                  <a class="accordion__list-link" href="/">
                    Яндекс.Станция
                  </a>
                </li>
                <li>
                  <a class="accordion__list-link" href="/">
                    HomePod
                  </a>
                </li>
                <li>
                  <a class="accordion__list-link" href="/">
                    Herman Kardon
                  </a>
                </li>
                <li>
                  <a class="accordion__list-link" href="/">
                    Аксессуары
                  </a>
                </li>
              </ul>

            </div>
          </div>
        </div>
      </div>
      <div class="menu__wrap">
        <div class="menu__item accordion__item">
          <div class="accordion__item-head tabs__btn" data-tab="popular-6">
            <img class="menu__item-img" src="./../images/icons/icon-watch.svg" alt="">
            <h6 class="menu__item-title">
              Спорт и здоровье
            </h6>
            <i class="accordion__item-icon icon-chevron-right-wide"></i>
          </div>
          <div class="accordion__item-body">
            <div class="accordion__item-content">

              <ul class="accordion__list">
                <li class="accordion__list-item">
                  <div class="accordion__list-head">
                    Garmin
                    <i class="accordion__list-icon icon-chevron-right-wide"></i>
                  </div>
                  <div class="accordion__list-body">
                    <div class="accordion__list-content">
                      <ul>
                        <li>
                          <a class="accordion__list-link" href="/">
                            Спортивные часы
                          </a>
                        </li>
                        <li>
                          <a class="accordion__list-link" href="/">
                            Аксессуары
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </li>
              </ul>

            </div>
          </div>
        </div>
      </div>
      <div class="menu__wrap">
        <div class="menu__item accordion__item">
          <div class="accordion__item-head tabs__btn" data-tab="popular-7">
            <img class="menu__item-img" src="./../images/icons/icon-accessories.svg" alt="">
            <h6 class="menu__item-title">
              Аксессуары
            </h6>
            <i class="accordion__item-icon icon-chevron-right-wide"></i>
          </div>
          <div class="accordion__item-body">
            <div class="accordion__item-content">

              <ul class="accordion__list">
                <li class="accordion__list-item">
                  <div class="accordion__list-head">
                    Для Apple
                    <i class="accordion__list-icon icon-chevron-right-wide"></i>
                  </div>
                  <div class="accordion__list-body">
                    <div class="accordion__list-content">
                      <ul>
                        <li>
                          <a class="accordion__list-link" href="/">
                            Для iPhone
                          </a>
                        </li>
                        <li>
                          <a class="accordion__list-link" href="/">
                            Для iPad
                          </a>
                        </li>
                        <li>
                          <a class="accordion__list-link" href="/">
                            Для Mac
                          </a>
                        </li>
                        <li>
                          <a class="accordion__list-link" href="/">
                            Кабели
                          </a>
                        </li>
                        <li>
                          <a class="accordion__list-link" href="/">
                            Зарядные устройства
                          </a>
                        </li>
                        <li>
                          <a class="accordion__list-link" href="/">
                            Powerbank
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </li>
                <li class="accordion__list-item">
                  <div class="accordion__list-head">
                    Для Dyson
                    <i class="accordion__list-icon icon-chevron-right-wide"></i>
                  </div>
                  <div class="accordion__list-body">
                    <div class="accordion__list-content">
                      <ul>
                        <li>
                          <a class="accordion__list-link" href="/">
                            Для стайлеров
                          </a>
                        </li>
                        <li>
                          <a class="accordion__list-link" href="/">
                            Для пылесосов
                          </a>
                        </li>
                        <li>
                          <a class="accordion__list-link" href="/">
                            Для фенов
                          </a>
                        </li>
                        <li>
                          <a class="accordion__list-link" href="/">
                            Для щипцов
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </li>
                <li class="accordion__list-item">
                  <div class="accordion__list-head">
                    Для игровых консолей
                    <i class="accordion__list-icon icon-chevron-right-wide"></i>
                  </div>
                  <div class="accordion__list-body">
                    <div class="accordion__list-content">
                      <ul>
                        <li>
                          <a class="accordion__list-link" href="/">
                            Для PlayStation
                          </a>
                        </li>
                        <li>
                          <a class="accordion__list-link" href="/">
                            Для XBOX
                          </a>
                        </li>
                        <li>
                          <a class="accordion__list-link" href="/">
                            Для Nintendo
                          </a>
                        </li>
                        <li>
                          <a class="accordion__list-link" href="/">
                            Для Steamdeck
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </li>
                <li class="accordion__list-item">
                  <div class="accordion__list-head">
                    Для съемки
                    <i class="accordion__list-icon icon-chevron-right-wide"></i>
                  </div>
                  <div class="accordion__list-body">
                    <div class="accordion__list-content">
                      <ul>
                        <li>
                          <a class="accordion__list-link" href="/">
                            Для DJI
                          </a>
                        </li>
                        <li>
                          <a class="accordion__list-link" href="/">
                            Для GoPro
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </li>
                <li>
                  <a class="accordion__list-link" href="/">
                    Для съемки
                  </a>
                </li>
                <li>
                  <a class="accordion__list-link" href="/">
                    Для съемки
                  </a>
                </li>
              </ul>

            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
  <div class="popular__inner">
    <h2 class="popular__title block-title">
      Популярные товары в этой категории
    </h2>
    <div class="tabs__panels">
      <div class="popular__items tabs__panel tabs__panel--active" data-tab="popular-1">
        <a class="popular__item" href="/">
          <img class="popular__item-img" src="./images/product/p-2.webp" alt="">
          <p class="popular__item-text">
            Apple iPhone 15 Pro Max, 512 ГБ, «Натуральный титан»
          </p>
        </a>
        <a class="popular__item" href="/">
          <img class="popular__item-img" src="./images/product/p-1.webp" alt="">
          <p class="popular__item-text">
            Apple iPhone 15 Pro Max, 512 ГБ, «Натуральный титан»
          </p>
        </a>
        <a class="popular__item" href="/">
          <img class="popular__item-img" src="./images/product/p-1.webp" alt="">
          <p class="popular__item-text">
            Apple iPhone 15 Pro Max, 512 ГБ, «Натуральный титан»
          </p>
        </a>
        <a class="popular__item" href="/">
          <img class="popular__item-img" src="./images/product/p-1.webp" alt="">
          <p class="popular__item-text">
            Apple iPhone 15 Pro Max, 512 ГБ, «Натуральный титан»
          </p>
        </a>
      </div>
      <div class="popular__items tabs__panel" data-tab="popular-2">
        <a class="popular__item" href="/">
          <img class="popular__item-img" src="./images/product/p-1.webp" alt="">
          <p class="popular__item-text">
            Apple iPhone 15 Pro Max, 512 ГБ, «Натуральный титан»
          </p>
        </a>
        <a class="popular__item" href="/">
          <img class="popular__item-img" src="./images/product/p-2.webp" alt="">
          <p class="popular__item-text">
            Apple iPhone 15 Pro Max, 512 ГБ, «Натуральный титан»
          </p>
        </a>
        <a class="popular__item" href="/">
          <img class="popular__item-img" src="./images/product/p-1.webp" alt="">
          <p class="popular__item-text">
            Apple iPhone 15 Pro Max, 512 ГБ, «Натуральный титан»
          </p>
        </a>
        <a class="popular__item" href="/">
          <img class="popular__item-img" src="./images/product/p-1.webp" alt="">
          <p class="popular__item-text">
            Apple iPhone 15 Pro Max, 512 ГБ, «Натуральный титан»
          </p>
        </a>
      </div>
      <div class="popular__items tabs__panel" data-tab="popular-3">
        <a class="popular__item" href="/">
          <img class="popular__item-img" src="./images/product/p-1.webp" alt="">
          <p class="popular__item-text">
            Apple iPhone 15 Pro Max, 512 ГБ, «Натуральный титан»
          </p>
        </a>
        <a class="popular__item" href="/">
          <img class="popular__item-img" src="./images/product/p-1.webp" alt="">
          <p class="popular__item-text">
            Apple iPhone 15 Pro Max, 512 ГБ, «Натуральный титан»
          </p>
        </a>
        <a class="popular__item" href="/">
          <img class="popular__item-img" src="./images/product/p-2.webp" alt="">
          <p class="popular__item-text">
            Apple iPhone 15 Pro Max, 512 ГБ, «Натуральный титан»
          </p>
        </a>
        <a class="popular__item" href="/">
          <img class="popular__item-img" src="./images/product/p-1.webp" alt="">
          <p class="popular__item-text">
            Apple iPhone 15 Pro Max, 512 ГБ, «Натуральный титан»
          </p>
        </a>
      </div>
      <div class="popular__items tabs__panel" data-tab="popular-4">
        <a class="popular__item" href="/">
          <img class="popular__item-img" src="./images/product/p-1.webp" alt="">
          <p class="popular__item-text">
            Apple iPhone 15 Pro Max, 512 ГБ, «Натуральный титан»
          </p>
        </a>
        <a class="popular__item" href="/">
          <img class="popular__item-img" src="./images/product/p-1.webp" alt="">
          <p class="popular__item-text">
            Apple iPhone 15 Pro Max, 512 ГБ, «Натуральный титан»
          </p>
        </a>
        <a class="popular__item" href="/">
          <img class="popular__item-img" src="./images/product/p-1.webp" alt="">
          <p class="popular__item-text">
            Apple iPhone 15 Pro Max, 512 ГБ, «Натуральный титан»
          </p>
        </a>
        <a class="popular__item" href="/">
          <img class="popular__item-img" src="./images/product/p-2.webp" alt="">
          <p class="popular__item-text">
            Apple iPhone 15 Pro Max, 512 ГБ, «Натуральный титан»
          </p>
        </a>
      </div>
      <div class="popular__items tabs__panel" data-tab="popular-5">
        <a class="popular__item" href="/">
          <img class="popular__item-img" src="./images/product/p-2.webp" alt="">
          <p class="popular__item-text">
            Apple iPhone 15 Pro Max, 512 ГБ, «Натуральный титан»
          </p>
        </a>
        <a class="popular__item" href="/">
          <img class="popular__item-img" src="./images/product/p-2.webp" alt="">
          <p class="popular__item-text">
            Apple iPhone 15 Pro Max, 512 ГБ, «Натуральный титан»
          </p>
        </a>
        <a class="popular__item" href="/">
          <img class="popular__item-img" src="./images/product/p-1.webp" alt="">
          <p class="popular__item-text">
            Apple iPhone 15 Pro Max, 512 ГБ, «Натуральный титан»
          </p>
        </a>
        <a class="popular__item" href="/">
          <img class="popular__item-img" src="./images/product/p-1.webp" alt="">
          <p class="popular__item-text">
            Apple iPhone 15 Pro Max, 512 ГБ, «Натуральный титан»
          </p>
        </a>
      </div>
      <div class="popular__items tabs__panel" data-tab="popular-6">
        <a class="popular__item" href="/">
          <img class="popular__item-img" src="./images/product/p-1.webp" alt="">
          <p class="popular__item-text">
            Apple iPhone 15 Pro Max, 512 ГБ, «Натуральный титан»
          </p>
        </a>
        <a class="popular__item" href="/">
          <img class="popular__item-img" src="./images/product/p-2.webp" alt="">
          <p class="popular__item-text">
            Apple iPhone 15 Pro Max, 512 ГБ, «Натуральный титан»
          </p>
        </a>
        <a class="popular__item" href="/">
          <img class="popular__item-img" src="./images/product/p-2.webp" alt="">
          <p class="popular__item-text">
            Apple iPhone 15 Pro Max, 512 ГБ, «Натуральный титан»
          </p>
        </a>
        <a class="popular__item" href="/">
          <img class="popular__item-img" src="./images/product/p-1.webp" alt="">
          <p class="popular__item-text">
            Apple iPhone 15 Pro Max, 512 ГБ, «Натуральный титан»
          </p>
        </a>
      </div>
      <div class="popular__items tabs__panel" data-tab="popular-7">
        <a class="popular__item" href="/">
          <img class="popular__item-img" src="./images/product/p-1.webp" alt="">
          <p class="popular__item-text">
            Apple iPhone 15 Pro Max, 512 ГБ, «Натуральный титан»
          </p>
        </a>
        <a class="popular__item" href="/">
          <img class="popular__item-img" src="./images/product/p-1.webp" alt="">
          <p class="popular__item-text">
            Apple iPhone 15 Pro Max, 512 ГБ, «Натуральный титан»
          </p>
        </a>
        <a class="popular__item" href="/">
          <img class="popular__item-img" src="./images/product/p-2.webp" alt="">
          <p class="popular__item-text">
            Apple iPhone 15 Pro Max, 512 ГБ, «Натуральный титан»
          </p>
        </a>
        <a class="popular__item" href="/">
          <img class="popular__item-img" src="./images/product/p-2.webp" alt="">
          <p class="popular__item-text">
            Apple iPhone 15 Pro Max, 512 ГБ, «Натуральный титан»
          </p>
        </a>
      </div>
    </div>
  </div>
</div>
<div class="menu__overlay"></div>