.hero {
  overflow: hidden;
  background-color: var(--black-main);

  &__container {
    padding: 0;
  }

  &__inner {}

  &__slider {

    &-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 0.6rem;
      padding: 2rem 1.6rem 1.5rem;
      position: relative;
      background-image: url(./../images/hero/bg-mob.webp);
      background-repeat: no-repeat;
      background-size: 100% 100%;
      background-position: center;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: min-content;
    position: relative;
    z-index: 1;
    text-align: center;
  }

  &__title {
    height: calc(2 * line-height);
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    // text-overflow: ellipsis;
    margin-bottom: 2rem;
    align-content: end;
    letter-spacing: 0.03em;
    font-size: 2rem;
  }

  &__subtitle {
    margin-bottom: 2rem;
    width: auto;
    font-size: 1.2rem;
    color: var(--white-60);
    white-space: nowrap;
  }

  &__btn {
    padding: 1.2rem 2.2rem;
    border-radius: var(--border-r-7);
    // font-size: 1.2rem;
  }

  &__pic {
    width: 47.87%;
    height: auto;
    object-fit: cover;
    transform: rotate(26.78deg);
    margin-bottom: -5rem;

    &-img {
      // max-width: 54.5rem;
      width: 100%;
      height: auto;
      object-fit: cover;
    }
  }
}

.catalog {

  &__items {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 0.5rem;
  }

  &__item {
    border-radius: var(--border-r-13);
    background-color: var(--bg);
    position: relative;
    padding: 0;
    overflow: hidden;

    &-img {
      /*width: fit-content;
      height: 100%;*/
    }

    &-title {
      font-size: 1.4rem;
      font-weight: 800;
      line-height: 1;
      color: var(--white-60);
    }

    &-link {
      display: flex;
      align-items: center;
      flex-direction: row;
      gap: 1rem;
      color: inherit;

      .icon-chevron-right-wide {
        display: block;
        margin: 0 2rem 0 auto;
        transform: rotate(90deg);
        color: inherit;
      }
    }
  }
}

.trade-in {

  &__inner {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    padding: 2rem 1.5rem 1.5rem;
    border-radius: var(--border-r-13);
    background-color: var(--bg);
    text-align: center;
  }

  &__title {
    font-size: 2rem;
    color: var(--white);
  }

  &__text {
    font-size: 1.2rem;
    color: var(--white-60);
  }

  &__block {
    display: flex;
    align-items: center;
    gap: 2rem;
    border-radius: var(--border-r-13);
    background-color: var(--bg);
    padding: 2rem;
    position: relative;
    height: auto;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.71), rgba(0, 0, 0, 0.71)), url(./../images/bg-2.webp);
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: cover;

    &-btn {
      width: 1.6rem;
    }

    &-icon {
      width: 18px;
      fill: var(--coral);
    }

    &-text {
      font-size: 1.2rem;
      font-weight: 800;
      width: 50%;
    }

    &-pic {
      position: absolute;
      top: 0.4rem;
      right: 4.8rem;
      bottom: 0;
      height: calc(100% - 0.4rem);
      flex-shrink: 0;
    }

    &-img {
      width: auto;
      height: 100%;
      object-fit: cover;
    }
  }
}